<p-button variant="text" icon="pi pi-bars" size="small"
          styleClass="rounded-xs! bg-primary-950/70! dark:bg-primary-50/70! text-primary-50! dark:text-primary-950! p-1!"
          class="fixed! l-0 top-15 left-1 z-20 md:hidden" (onClick)="isMobileSidebarOpen.set(true)"
          [class.hidden]="isMobileSidebarOpen()"/>
<div class="h-full w-full container mx-auto flex flex-col">
  <div class="flex flex-row w-full h-full gap-4">
    <!-- Sidebar -->
    <div
      class="not-md:hidden flex flex-col min-w-60 w-60 gap-6 h-full bg-primary-50 dark:bg-primary-950 border border-y-0
      border-primary-950/20 dark:border-primary-50/20 relative" [class.not-md:hidden]="!isMobileSidebarOpen()">
      <div class="flex flex-col gap-1 mx-4">
        <h4 class="p-2 text-sm font-semibold">Admin Panel</h4>
        <!-- Sidebar Navigation -->
        <nav class="flex flex-col w-full gap-0.5">
          <a class="flex h-8 p-2 w-full items-center rounded-lg hover:bg-primary-200/50 dark:hover:bg-primary-800/80"
             routerLink="/home/admin/user" routerLinkActive="underline underline-offset-4">Users</a>
        </nav>
        <!-- Sidebar Actions -->
        <h4 class="p-2 text-sm font-semibold">Admin Actions</h4>
        <div class="flex flex-col w-full gap-0.5">
          <html-upload-for-overhaul (click)="isMobileSidebarOpen.set(true)"/>
        </div>
      </div>
      <p-button variant="text" icon="pi pi-bars" size="small" class="fixed! left-60 top-15 z-20 md:hidden"
                styleClass="rounded-xs! bg-primary-950/70! dark:bg-primary-50/70! text-primary-50! dark:text-primary-950! p-1!"
                (onClick)="isMobileSidebarOpen.set(false)"/>
    </div>
    <!-- Main Content -->
    <div class="flex-1 min-w-0 overflow-hidden">
      <div class="h-full w-full overflow-auto">
        <div class="mr-4">
          <router-outlet/>
        </div>
      </div>
    </div>
  </div>
</div>
