<p-toast key="data-entry-page"></p-toast>

<div class="p-4">
  <p-dropdown
    [options]="instances"
    [(ngModel)]="selectedInstance"
    (onChange)="selectInstance($event.value)"
    optionLabel="name"
    placeholder="Select Instance">
  </p-dropdown>

  <p-dropdown
    [options]="dataTypes"
    [(ngModel)]="selectedDataType"
    (onChange)="selectDataType($event.value)"
    optionLabel="name"
    placeholder="Select Data Type"
    [disabled]="!selectedInstance">
  </p-dropdown>

  <button pButton type="button" label="Add Data Entries" (click)="openCreation()"
          class="p-button-sm rounded-md"></button>

  <p-table [value]="dataEntries">
    <ng-template pTemplate="header">
      <tr>
        @for (field of selectedDataType()?.fields; track $index) {
          <th>{{ field.name }}</th>
        }
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-dataEntry>
      <tr>
        @for (field of dataEntry.fields; track $index) {
          <td>{{ field.value }}</td>
        }
        <td>
          <button pButton type="button" icon="pi pi-pencil" (click)="openEdit(dataEntry)"
                  class="p-button-sm rounded-md"></button>
          <button pButton type="button" icon="pi pi-trash" (click)="deleteDataEntry(dataEntry)"
                  class="p-button-sm rounded-md"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [(visible)]="displayDialog">
    <form [formGroup]="form" (ngSubmit)="saveDataEntry()">
      <div formArrayName="fields">
        @for (_ of fields.controls; track $index) {
          <div [formGroupName]="$index" class="flex items-center gap-4 mb-2">
            @for (field of selectedDataType()?.fields; track $index) {
              <input pInputText [formControlName]="field.name" placeholder="{{ field.name }}"
                     class="input-text">
            }
            @if (editableDataEntry() == null) {
              <button type="button" (click)="removeField($index)"
                      class="p-button-sm bg-red-500 text-white rounded-md">Remove
              </button>
            }
          </div>
        }
      </div>
      @if (editableDataEntry() == null) {
        <button type="button" (click)="addField()"
                class="p-button-sm bg-blue-500 text-white rounded-md">Add Entry
        </button>
      }
      <button type="submit" class="p-button-sm bg-green-500 text-white rounded-md">Save</button>
    </form>
  </p-dialog>
</div>
