<div class="h-full w-full container mx-auto flex flex-col mb-8">
  <user-page-header-section [canGoBack]="true"/>
  @if (user.isLoading()) {
    <p-progress-spinner/>
  } @else if (!user.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let userValue = user.value()!;
    <card>
      <p card-header>User</p>
      <div card-body class="flex flex-col gap-4">
        <card>
          <p card-header>Details</p>
          <div card-body class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Name</p>
              <p>{{ userValue.firstName + ' ' + userValue.lastName }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Email</p>
              <p>{{ userValue.email }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Birthdate</p>
              <p>{{ userValue.birthDate | date:'mediumDate' }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Country</p>
              <p>{{ getCountryName(userValue) }}</p>
            </div>
          </div>
        </card>
      </div>
    </card>
  }
</div>
