<div class="h-screen w-screen flex justify-center items-center">
  @if (isTokenProvided.isLoading()) {
    <loading-spinner/>
  } @else {
    <div
      class="max-w-xl w-full dark:bg-primary-950 bg-primary-50 shadow-2xl shadow-primary-800/80 dark:shadow-primary-50 rounded-3xl p-8 gap-2">
      @if (!isTokenProvided.value()) {
        <h2 class="text-xl font-semibold text-red-600">{{ 'page.reset-password.invalid.title' | translate }}</h2>
        <p>{{ 'page.reset-password.invalid.description' | translate }}</p>
      } @else {
        <h2 class="text-xl font-semibold">{{ 'page.reset-password.title' | translate }}</h2>
        <p>{{ 'page.reset-password.description' | translate }}</p>
        <form [formGroup]="form" (ngSubmit)="changePassword()" class="flex flex-col gap-4 mt-8">
          <!-- Password -->
          <div class="w-full">
            <p-floatlabel variant="on" class="w-full">
              <p-iconfield>
                <p-inputicon class="pi pi-lock"/>
                <p-password id="password" formControlName="password" inputStyleClass="pl-10! w-full!"
                            toggleMask="true" feedback="false" styleClass="w-full"/>
              </p-iconfield>
              <label for="password">{{ 'page.reset-password.input.password' | translate }}</label>
            </p-floatlabel>
            <form-input-error [control]="form.controls.password"/>
          </div>

          <!-- Confirm Password -->
          <div class="w-full">
            <p-floatlabel variant="on" class="w-full">
              <p-iconfield>
                <p-inputicon class="pi pi-lock"/>
                <p-password id="confirmPassword" formControlName="confirmPassword" inputStyleClass="pl-10! w-full!"
                            toggleMask="true" feedback="false" styleClass="w-full"/>
              </p-iconfield>
              <label for="confirmPassword">{{ 'page.reset-password.input.confirm-password' | translate }}</label>
            </p-floatlabel>
            <form-input-error [control]="form.controls.confirmPassword"/>
          </div>

          <div class="flex flex-col gap-2">
            @if (isTokenProvided.value()) {
              <messages-showcase [messages]="messages()"/>
              <p-button [title]="'page.reset-password.button.change' | translate" size="small"
                        [label]="'page.reset-password.button.change' | translate" type="submit" (onClick)="changePassword()"
                        [disabled]="form.invalid || !form.dirty" styleClass="w-full" class="w-full"/>
            }
            <p-button [title]="'page.reset-password.redirect.login' | translate" size="small"
                      [label]="'page.reset-password.redirect.login' | translate" type="button" routerLink="../login"
                      styleClass="w-full" class="w-full"/>
          </div>
        </form>
      }
    </div>
  }
</div>
