<div class="flex flex-col gap-4 p-4">
  <p-float-label variant="on" class="w-60">
    <p-select dropdownIcon="pi pi-home" (onChange)="onChange($event.value)" [options]="instances.value() || []" optionLabel="name"
              [ngModel]="selectedInstance()" styleClass="min-w-60" appendTo="body"/>
    <label for="instance">Workspace (Instance)</label>
  </p-float-label>
  <p-splitter/>
  <div class="flex flex-col gap-1">
    <p-button label="Create Instance" styleClass="w-full" routerLink="/home/instance/create" size="small"/>
    <p-button label="Exit Workspace" styleClass="w-full" routerLink="/home" size="small" severity="danger"/>
  </div>
</div>
