<div class="flex w-full h-full my-auto justify-center items-center">
  <div class="dark:bg-surface-800 bg-surface-50 shadow-lg rounded-lg p-8 max-w-lg w-full space-y-6">
    <div class="flex justify-center space-x-4">
      <i class="pi pi-lock text-4xl"></i>
    </div>

    <div class="text-center">
      <h1 class="text-3xl font-bold">Welcome to Accounting</h1>
      <p>Please authenticate yourself to continue</p>
    </div>

    <hr class="border-surface-300">

    <router-outlet/>
  </div>
</div>
