@if (isAuthenticated()) {
  @switch (instances().length) {
    @case (0) {
      <app-instance-management />

      <p-button
        label="Create Instance"
        icon="pi pi-plus"
        class="mt-1 block w-full"
        (onClick)="showManagementMenu()"
      ></p-button>
    }
    @default {
      <div class="flex flex-row gap-x-2 items-center">
        <label
          for="instance"
          class="text-center text-sm gap-y-0"
        >Current Instance</label>

        @if (selectedInstance() != null) {
          <p-select
            inputId="instance"
            [(ngModel)]="selectedInstance"
            [options]="instances()"
            optionLabel="name"
            styleClass="border-none"
            placeholder="Select Instance"
            class="bg-surface-50 mt-1 block w-full rounded-md focus:ring-indigo-500 focus:border-indigo-500"
          ></p-select>
        }
      </div>
    }
  }
}
