#instance-selector {
  background: transparent;
  border: none;
  box-shadow: none;

  .p-select-label {
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
  }
}

#instance-selector:hover {
  background: rgba(0, 0, 0, 0.05);
}
