<div class="h-full w-full container mx-auto flex flex-col">
  <user-page-header-section [canGoBack]="true"/>
  @if (user.isLoading()) {
    <loading-spinner/>
  } @else if (!user.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let userValue = user.value()!;
    <card>
      <p card-header>{{ 'page.user-preview.title' | translate }}</p>
      <p card-subHeader>{{ 'page.user-preview.description' | translate }}</p>
      <card card-body>
        <p card-header>{{ 'page.user-preview.details.title' | translate }}</p>
        <p card-subHeader>{{ 'page.user-preview.details.description' | translate }}</p>
        <div card-body class="flex flex-col">
          <div class="flex flex-row gap-2">
            <p class="font-semibold">{{ 'page.user-preview.details.label.id' | translate }}</p>
            <p>{{ userValue.id }}</p>
          </div>
          <div class="flex flex-row gap-2">
            <p class="font-semibold">{{ 'page.user-preview.details.label.name' | translate }}</p>
            <p>{{ toUserFullName(userValue) }}</p>
          </div>
          <div class="flex flex-row gap-2">
            <p class="font-semibold">{{ 'page.user-preview.details.label.email' | translate }}</p>
            <p>{{ userValue.email }}</p>
          </div>
          <div class="flex flex-row gap-2">
            <p class="font-semibold">{{ 'page.user-preview.details.label.birthdate' | translate }}</p>
            <p>{{ userValue.birthDate | date:'mediumDate' }}</p>
          </div>
          <div class="flex flex-row gap-2">
            <p class="font-semibold">{{ 'page.user-preview.details.label.country' | translate }}</p>
            <p>{{ getCountryName(userValue) | translate }}</p>
          </div>
        </div>
      </card>
    </card>
  }
</div>
