<div class="h-full w-full flex flex-col">
  <header
    class="sticky top-0 z-50 w-full border-b border-b-primary-950/20 dark:border-b-primary-50/20 bg-surface-50 dark:bg-surface-950 backdrop-blur supports-[backdrop-filter]:bg-surface-50/60 dark:supports-[backdrop-filter]:bg-surface-950/60">
    <div class="container flex h-14 items-center gap-2 md:gap-4 m-auto">
      <!-- Navigation Mobile -->
      <div class="md:hidden">
        <button class="mr-4 flex items-center gap-2 ml-2 lg:mr-6 cursor-pointer"
                (click)="isMobileNavOpen.set(!isMobileNavOpen())" (clickOutside)="isMobileNavOpen.set(false)">
        <span class="flex flex-row font-bold lg:inline-block text-primary-950 hover:text-primary-950/80
              dark:text-primary-50 dark:hover:text-primary-50/80">
          {{ 'page.authenticated-layout.header.title' | translate }}
          <span class="ml-2 text-xs self-end">
            <i class="pi" [class.pi-chevron-down]="!isMobileNavOpen()" [class.pi-chevron-up]="isMobileNavOpen()"></i>
          </span>
        </span>
        </button>

        @if (isMobileNavOpen()) {
          <div class="absolute top-14 left-0 z-50 w-full bg-surface-50 dark:bg-surface-950 shadow-lg p-4">
            <nav class="flex flex-col gap-2">
              <a
                class="transition-colors text-primary-950 hover:text-primary-950/80 dark:text-primary-50 dark:hover:text-primary-50/80"
                routerLink="/home/instance" routerLinkActive="underline underline-offset-4">
                {{ 'page.authenticated-layout.header.route.instances' | translate }}
              </a>
              <a
                class="transition-colors text-primary-950 hover:text-primary-950/80 dark:text-primary-50 dark:hover:text-primary-50/80"
                routerLink="/home/workspace" routerLinkActive="underline underline-offset-4 ">
                {{ 'page.authenticated-layout.header.route.workspace' | translate }}
              </a>
              @if (user.value()?.role === Role.Admin) {
                <a
                  class="transition-colors text-primary-950 hover:text-primary-950/80 dark:text-primary-50 dark:hover:text-primary-50/80"
                  routerLink="/home/admin" routerLinkActive="underline underline-offset-4">
                  {{ 'page.authenticated-layout.header.route.admin' | translate }}
                </a>
              }
            </nav>
          </div>
        }
      </div>

      <!-- Navigation Desktop -->
      <div class="mr-4 not-md:hidden md:flex">
        <a class="mr-4 flex items-center gap-2 lg:mr-6" routerLink="/home">
          <span class="font-bold lg:inline-block text-primary-950 hover:text-primary-950/80
                dark:text-primary-50 dark:hover:text-primary-50/80">{{ 'page.authenticated-layout.header.title' | translate }}</span>
        </a>
        <nav class="flex items-center gap-4 text-sm xl:gap-6">
          <a
            class="transition-colors text-primary-950 hover:text-primary-950/80 dark:text-primary-50 dark:hover:text-primary-50/80"
            routerLink="/home/instance" routerLinkActive="underline underline-offset-4">
            {{ 'page.authenticated-layout.header.route.instances' | translate }}
          </a>
          <a
            class="transition-colors text-primary-950 hover:text-primary-950/80 dark:text-primary-50 dark:hover:text-primary-50/80"
            routerLink="/home/workspace" routerLinkActive="underline underline-offset-4 ">
            {{ 'page.authenticated-layout.header.route.workspace' | translate }}
          </a>
          @if (user.value()?.role === Role.Admin) {
            <a
              class="transition-colors text-primary-950 hover:text-primary-950/80 dark:text-primary-50 dark:hover:text-primary-50/80"
              routerLink="/home/admin" routerLinkActive="underline underline-offset-4">
              {{ 'page.authenticated-layout.header.route.admin' | translate }}
            </a>
          }
        </nav>
      </div>

      <div class="ml-auto flex items-center gap-2 md:flex-1 md:justify-end not-md:mr-2">
        <profile-dropdown *ngIf="isAuthenticated.value()"/>
        <div class="flex flex-row items-center">
          <theme-selector/>
          <language-selector/>
        </div>
      </div>
    </div>
  </header>

  <div class="flex-1 min-w-0 overflow-hidden">
    <div class="h-full w-full overflow-auto">
      <router-outlet/>
    </div>
  </div>
</div>
