<div class="h-full w-full relative container mx-auto flex flex-col">
  <salesman-page-header-section [canGoBack]="true"/>
  @if (salesman.isLoading()) {
    <loading-spinner/>
  } @else if (!salesman.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let salesman = this.salesman.value()!;
    <card>
      <p card-header>{{ 'page.salesman-preview.title' | translate }}</p>
      <p card-subHeader>{{ 'page.salesman-preview.description' | translate }}</p>
      <div card-body class="flex flex-col gap-4">
        <card>
          <p card-header>{{ 'page.salesman-preview.details.title' | translate }}</p>
          <p card-subHeader>{{ 'page.salesman-preview.details.description' | translate }}</p>
          <div card-body class="flex flex-col gap-4">
            <div class="flex flex-col">
              <div class="flex flex-row gap-2">
                <p class="font-semibold">{{ 'page.salesman-preview.details.label.id' | translate }}</p>
                <p>{{ salesman.id }}</p>
              </div>
              <div class="flex flex-row gap-2">
                <p class="font-semibold">{{ 'page.salesman-preview.details.label.name' | translate }}</p>
                <p>{{ salesman.name }}</p>
              </div>
            </div>
          </div>
        </card>
        <card>
          <p card-header>{{ 'page.salesman-preview.vat.title' | translate }}</p>
          <p card-subHeader>{{ 'page.salesman-preview.vat.description' | translate }}</p>
          <div card-body class="flex flex-col gap-4">
            <div class="flex flex-col">
              <div class="flex flex-row gap-2">
                <p class="font-semibold">{{ 'page.salesman-preview.vat.label.issued-by' | translate }}</p>
                <p>{{ getIsoCountryLabel(salesman.vatPayerCode.issuedBy) | translate }}</p>
              </div>
              <div class="flex flex-row gap-2">
                <p class="font-semibold">{{ 'page.salesman-preview.vat.label.code' | translate }}</p>
                <p>{{ salesman.vatPayerCode.value }}</p>
              </div>
            </div>
          </div>
        </card>
      </div>
    </card>
  }
</div>
