<p-dialog [(visible)]="isVisible" header="Mock Sale Export" [closable]="true" [modal]="true" styleClass="min-w-96">
  <form class="flex flex-col gap-4">
    <p-float-label>
      <p-select [options]="sales.value()" optionLabel="label" optionValue="sale" appendTo="body"
                styleClass="w-full" dropdownIcon="pi pi-shop" [(ngModel)]="selectedSale" [ngModelOptions]="{standalone: true}"/>
      <label>Sale</label>
    </p-float-label>
    <messages-showcase [messages]="messages()"/>
    <p-button title="Submit" size="small" label="Mock" type="submit" (onClick)="mock()"/>
  </form>
</p-dialog>

<p-button title="Mock" size="small" variant="text" label="Mock Sale Export" class="w-full" (onClick)="isVisible.set(true)"
          styleClass=" w-full justify-start! rounded-lg! hover:bg-primary-200/50! text-medium! dark:hover:bg-primary-800/80!"/>
