<div class="h-full w-full container mx-auto flex flex-col mb-8 lg:w-4/7">
  <section class="container flex flex-col items-start gap-1 py-8 md:py-10 lg:py-12">
    <h1 class="text-2xl font-bold leading-tight tracking-tighter sm:text-3xl md:text-4xl lg:leading-[1.1]">
      Profile
    </h1>
    <p class="max-w-2xl text-base font-light text-foreground sm:text-lg">
      This is your profile. Make sure that you keep your password safe and change it once in a while!
      Also, you can revoke any session that you are not using anymore or that you think is compromised.
    </p>
  </section>
  @if (user.isLoading()) {
    <p-progress-spinner/>
  } @else if (!user.value()) {
    <failed-to-load-please-reload/>
  } @else {
    <div class="flex flex-col gap-4">
      <profile-showcase [user]="user.value()!"/>
      <session-showcase/>
    </div>
  }
</div>
