<p-dialog
  header="Sale Declaration"
  closable="true"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  (close)="hide()"
  (onHide)="hide()"
  [(visible)]="isShown"
>
  <div class="flex flex-wrap gap-4" *ngIf="sale() != null">
    <!-- Left Column -->
    <div class="flex-1 min-w-[250px]" *ngIf="declaration() != null">
      <p>
        <strong>Declaration Id:</strong>
        {{ declaration()!.id }}
      </p>
      <p>
        <strong>Declared By:</strong>
        {{ toUserIdentityFullName(declaration()!.declaredBy) }}
      </p>
      <p>
        <strong>Submit Date:</strong>
        {{ declaration()!.submitDate | date:'short' }}
      </p>
      <p>
        <strong>State:</strong>
        {{ getSubmitDeclarationStateLabel(declaration()!.state) }}
      </p>
      <p *ngIf="declaration()!.correction > 1">
        <strong>Corrected Times:</strong>
        {{ declaration()!.correction }}
      </p>
    </div>

    <!-- Right Column -->
    <div class="flex-1 min-w-[250px]">
      <p>
        <strong>Customer:</strong>
        {{ toCustomerFullName(sale()!.customer) }}
      </p>
      <p>
        <strong>Salesman:</strong>
        {{ sale()!.salesman.name }}
      </p>
      <p>
        <strong>Sold Goods:</strong>
        {{ sale()!.soldGoods.length }} good(s)
      </p>
      <p>
        <strong>VAT to return:</strong>
        {{ getVATToReturn(sale()!) | currency:'EUR':'symbol':'1.2-2' }}
      </p>
    </div>
  </div>

  <div class="card mt-4" *ngIf="sale() != null">
    <p-table [value]="sale()!.soldGoods">
      <ng-template #header>
        <tr>
          <th>Sequence No</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Measure Unit</th>
          <th>Unit Price</th>
          <th>VAT Amount</th>
          <th>Total Amount</th>
        </tr>
      </ng-template>
      <ng-template
        #body
        let-soldGood
      >
        <tr>
          <td>{{ soldGood.sequenceNo }}</td>
          <td>{{ soldGood.description }}</td>
          <td>{{ soldGood.quantity }}</td>
          <td>{{ soldGood.unitOfMeasure }}</td>
          <td>{{ soldGood.taxableAmount / soldGood.quantity | round:2 }}</td>
          <td>{{ soldGood.vatAmount | round:2 }} ({{ soldGood.vatRate | round:2 }}%)</td>
          <td>{{ soldGood.totalAmount | round:2 }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="sale() != null && declaration()?.qrCodes?.length">
    <div class="border border-gray-300 rounded my-2 w-fit">
      <div class="bg-gray-100 p-2 cursor-pointer" (click)="showQrCodes.set(!showQrCodes())">
        <p class="font-bold text-md">QR Codes</p>
      </div>
      <div class="p-4" *ngIf="showQrCodes()">
        <div
          class="flex flex-wrap gap-4 max-w-152"
          *ngFor="let qrCode of declaration()!.qrCodes; let i = index"
        >
          <img [src]="'data:image/png;base64,' + qrCode" [alt]="'Declaration\'s #' + (i + 1) + ' QR code chunk'" class="w-48 h-48"/>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="sale() != null"
  >
    <p
      class="font-bold text-lg my-2"
      *ngIf="declaration() == null"
    >
      This sale does not have a submitted VAT return declaration.
    </p>

    <div class="p-4 rounded bg-primary-100 mt-4">
      <app-vat-return-declaration-submission
        [instanceId]="instanceId()"
        [sale]="sale()!"
      />
    </div>
  </div>
</p-dialog>
