<form class="flex flex-col" [formGroup]="form">
  <div class="max-w-128 mb-6">
    <messages-showcase [messages]="messages()"/>

    <p class="text-justify">
      Please provide your email address to reset your password.
      Request will be sent to your email which will last for 10 minutes.
    </p>
  </div>

  <div class="flex flex-row justify-between items-center">
    <div>
      <label
        for="email"
        class="block text-sm font-medium"
      >Email</label>

      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="Enter your email..."
        pInputText
        class="mt-1 w-fit w-min-48"
        required
      />

      @if (getErrorMessage(); as error) {
        <div class="text-xs text-red-500 mt-1">
          {{ error }}
        </div>
      }
    </div>

    <p-button
      class="self-end"
      label="Reset Password"
      (onClick)="resetPassword()"
      [disabled]="form.invalid || !form.dirty"
    />
  </div>
</form>
