<form class="flex flex-col gap-6 max-w-xl" [formGroup]="form">
  <p class="text-justify">
    Please provide your email address to reset your password.
    Request will be sent to your email which will last for 10 minutes.
  </p>

  <div class="flex flex-col gap-4">
    <!-- Email -->
    <div class="w-full">
      <p-floatlabel variant="on" class="w-60">
        <p-iconfield>
          <p-inputicon class="pi pi-envelope"/>
          <input pInputText class="w-60" id="email" formControlName="email" type="email"/>
        </p-iconfield>
        <label for="email">Email</label>
      </p-floatlabel>
      <form-input-error [control]="form.controls.email"/>
    </div>
    <messages-showcase [messages]="messages()"/>
    <p-button title="Submit" size="small" label="Reset Password" type="submit" (onClick)="resetPassword()"
              [disabled]="form.invalid || !form.dirty"/>
  </div>
</form>
