<ng-container *ngIf="declaration() !== undefined; else invalidDeclaration">
  <div class="w-fit mx-auto my-4">
    <div class="flex flex-wrap gap-4">
      <!-- Left Column -->
      <div class="flex-1 min-w-[250px] bg-white p-4 rounded-lg shadow-md relative">
        <p class="text-lg">
          <strong>Declaration Id:</strong>
          {{ declaration()!.id }}
        </p>
        <p class="text-lg">
          <strong>Submit Date:</strong>
          {{ declaration()!.submitDate | date:'short' }}
        </p>
        <p class="text-lg">
          <strong>State:</strong>
          {{ getSubmitDeclarationStateLabel(declaration()!.state) }}
        </p>
        <p *ngIf="declaration()!.correction > 1" class="text-lg">
          <strong>Corrected Times:</strong>
          {{ declaration()!.correction }}
        </p>

        <p-button
          variant="text"
          class="absolute top-0 right-0 m-2"
          icon="pi pi-refresh"
        ></p-button>
      </div>

      <!-- Right Column -->
      <div class="flex-1 min-w-[250px] bg-white p-4 rounded-lg shadow-md">
        <p class="text-lg">
          <strong>Customer:</strong>
          {{ toCustomerFullName(declaration()!.sale!.customer) }}
        </p>
        <p class="text-lg">
          <strong>Salesman:</strong>
          {{ declaration()!.sale.salesman.name }}
        </p>
        <p class="text-lg">
          <strong>Sold Goods:</strong>
          {{ declaration()!.sale.soldGoods.length }} good(s)
        </p>
        <p class="text-lg">
          <strong>VAT to return:</strong>
          {{ getVATToReturn(declaration()!.sale) | currency:'EUR':'symbol':'1.2-2' }}
        </p>
      </div>
    </div>

    <div class="card mt-4 bg-white p-4 rounded-lg shadow-md">
      <p-table [value]="declaration()!.sale.soldGoods">
        <ng-template #header>
          <tr>
            <th class="text-left p-2">Sequence No</th>
            <th class="text-left p-2">Description</th>
            <th class="text-left p-2">Quantity</th>
            <th class="text-left p-2">Measure Unit</th>
            <th class="text-left p-2">Unit Price</th>
            <th class="text-left p-2">VAT Amount</th>
            <th class="text-left p-2">Total Amount</th>
          </tr>
        </ng-template>
        <ng-template
          #body
          let-soldGood
        >
          <tr>
            <td class="p-2">{{ soldGood.sequenceNo }}</td>
            <td class="p-2">{{ soldGood.description }}</td>
            <td class="p-2">{{ soldGood.quantity }}</td>
            <td class="p-2">{{ soldGood.unitOfMeasure }}</td>
            <td class="p-2">{{ soldGood.taxableAmount / soldGood.quantity | round:2 }}</td>
            <td class="p-2">{{ soldGood.vatAmount | round:2 }} ({{ soldGood.vatRate | round:2 }}%)</td>
            <td class="p-2">{{ soldGood.totalAmount | round:2 }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div *ngIf="declaration()!.qrCodes.length" class="mt-4">
      <div class="border border-gray-300 rounded-lg shadow-md">
        <div class="bg-gray-100 p-4 cursor-pointer flex justify-between items-center" (click)="showQrCodes.set(!showQrCodes())">
          <p class="font-bold text-lg">QR Codes</p>
          <svg class="w-6 h-6 transform transition-transform" [ngClass]="{'rotate-180': showQrCodes()}"
               xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </div>
        <div class="p-4" *ngIf="showQrCodes()">
          <div class="flex flex-wrap gap-4">
            <div
              *ngFor="let qrCode of declaration()!.qrCodes; let i = index"
              class="flex justify-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
            >
              <img
                [src]="'data:image/png;base64,' + qrCode"
                [alt]="'Declaration\'s #' + (i + 1) + ' QR code chunk'"
                class="w-48 h-48"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #invalidDeclaration>
  <div
    class="flex flex-col gap-2 p-4 bg-red-100 text-red-800 rounded-lg shadow-md border border-red-300 w-full max-w-3xl mx-auto my-4">
    <h2 class="text-xl font-bold">Invalid Declaration</h2>
    <p>Sorry, but your request for the declaration preview page is invalid. Please check the URL and try again.</p>
    <p>If the problem persists, please contact support.</p>
  </div>
</ng-template>
