<p-dialog
  header="Instance Preview"
  closable="true"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  (close)="hide()"
  (onHide)="hide()"
  [(visible)]="isShown"
  *ngIf="instance() != null"
>
  <p class="font-bold">Name</p>
  <p>{{ instance()!.name }}</p>

  <p class="font-bold mt-4">Description</p>
  <p>{{ instance()!.description }}</p>

  <p class="font-bold mt-4">Created</p>
  <p>{{ instance()!.createdAt | date:'mediumDate' }}</p>

  <h1 class="mt-4 font-bold">Users</h1>
  <p-table [value]="instance()!.userMetas">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userMeta>
      <tr>
        <td>{{ toUserFullName(userMeta.user) }}</td>
        <td>{{ userMeta.user.email }}</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-end mt-4">
    <p-button
      label="Close"
      class="p-button-secondary"
      (onClick)="hide()"
    />
  </div>
</p-dialog>
