<div class="h-full w-full relative container mx-auto flex flex-col">
  <customer-page-header-section/>
  <confirmation [key]='"customer-delete-confirmation"' [header]='"Are you sure about deleting this customer?"'/>
  <messages-showcase [messages]="messages()"/>
  <card>
    <p card-header>Customers</p>
    <p card-subHeader>Manage your customers — create, preview, edit or delete.</p>
    <div card-body>
      <p-button title="Create" size="small" label="Create Customer" type="button" (onClick)="manage()"/>
      <p-table paginatorDropdownAppendTo="body" styleClass="mt-4" [value]="customers.value() || []" [paginator]="true"
               [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" sortMode="multiple">
        <ng-template #header>
          <tr>
            <th pSortableColumn="firstName">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-0.5">
                  First Name
                  <p-sortIcon field="firstName"/>
                </div>
                <p-columnFilter type="text" field="firstName" display="menu"/>
              </div>
            </th>
            <th pSortableColumn="lastName">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-0.5">
                  Last Name
                  <p-sortIcon field="lastName"/>
                </div>
                <p-columnFilter type="text" field="lastName" display="menu"/>
              </div>
            </th>
            <th pSortableColumn="email">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-0.5">
                  Email
                  <p-sortIcon field="email"/>
                </div>
                <p-columnFilter type="text" field="email" display="menu"/>
              </div>
            </th>
            <th pSortableColumn="birthdate">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-0.5">
                  Birthdate
                  <p-sortIcon field="birthdate"/>
                </div>
                <p-columnFilter type="text" field="birthdate" display="menu"/>
              </div>
            </th>
            <th pSortableColumn="residenceCountryLabel">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-0.5">
                  Reside In
                  <p-sortIcon field="residenceCountryLabel"/>
                </div>
                <p-columnFilter type="text" field="residenceCountryLabel" display="menu"/>
              </div>
            </th>
            <th pSortableColumn="identityDocument.typeLabel">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-0.5">
                  Identity Document
                  <p-sortIcon field="identityDocument.typeLabel"/>
                </div>
                <p-columnFilter type="text" field="identityDocument.typeLabel" display="menu"/>
              </div>
            </th>
            <th pSortableColumn="identityDocument.value">
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-0.5">
                  Personal Code
                  <p-sortIcon field="identityDocument.value"/>
                </div>
                <p-columnFilter type="text" field="identityDocument.value" display="menu"/>
              </div>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-customer>
          <tr>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.birthdate | date:'mediumDate' }}</td>
            <td>{{ customer.residenceCountryLabel }}</td>
            <td>{{ customer.identityDocument.typeLabel }}</td>
            <td>{{ customer.identityDocument.value || 'Unprovided' }}</td>
            <td>
              <div class="flex items-center">
                <p-button title="Preview" icon="pi pi-eye" type="button" variant="text" (onClick)="preview(customer)"/>
                <p-button title="Edit" icon="pi pi-pencil" type="button" variant="text" (onClick)="manage(customer)"/>
                <p-button title="Delete" icon="pi pi-trash" type="button" variant="text" (onClick)="delete(customer)"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </card>
</div>
