<confirmation key="resubmit-confirmation" header="Are you sure about resubmitting this declaration?"/>
<messages-showcase [messages]="messages()"/>
<form [formGroup]="form">
  <p>
    Submission requires affirmation that this sale's customer is eligible for such service.
  </p>
  <label for="affirmation" class="block text-sm font-medium mt-2">Affirmation</label>
  <p-checkbox binary="true" formControlName="affirmation" id="affirmation" class="mt-1 block w-fit"/>
  <p-button title="Submit" size="small" [label]="!hasDeclaration() ? 'Submit' : 'Resubmit'"
            [disabled]="!form.valid || !form.dirty" styleClass="mt-2" (onClick)="save()" type="submit"/>
</form>
