<div>
  <sale-preview/>

  <vat-return-declaration-preview [instanceId]="instanceId()"/>

  <sale-management
    [customers]="customers()"
    [instanceId]="instanceId()"
    [salesmen]="salesmen()"
  />

  <confirmation
    [key]='"sale-delete-confirmation"'
    [header]='"Are you sure about deleting this sale?"'
  />

  <messages-showcase [messages]="messages()"/>

  <p-button
    label="Create"
    icon="pi pi-plus"
    type="button"
    (onClick)="showManagement(null)"
  ></p-button>

  <div class="card mt-4">
    <p-table
      styleClass="w-fit"
      [value]="sales()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50]"
    >
      <ng-template #header>
        <tr>
          <th>Customer</th>
          <th>Salesman</th>
          <th>Sale Date</th>
          <th>Sold Goods</th>
          <th>Total Price</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template
        #body
        let-sale
      >
        <tr>
          <td>{{ toCustomerFullName(sale.customer) }}</td>
          <td>{{ sale.salesman.name }}</td>
          <td>{{ sale.date | date:'medium' }}</td>
          <td>{{ sale.soldGoods.length }} good(s)</td>
          <td>{{ getTotalPrice(sale.soldGoods) | currency:'EUR':'symbol':'1.2-2' }}</td>
          <td class="flex flex-nowrap items-center">
            <p-button
              icon="pi pi-eye"
              type="button"
              variant="text"
              (onClick)="showSale(sale)"
            ></p-button>
            <p-button
              icon="pi pi-book"
              type="button"
              variant="text"
              (onClick)="showVatReturnDeclaration(sale)"
            ></p-button>
            <p-button
              icon="pi pi-pencil"
              type="button"
              variant="text"
              (onClick)="showManagement(sale)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              type="button"
              variant="text"
              (onClick)="delete(sale)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
