<div class="h-full w-full relative container mx-auto flex flex-col mb-8">
  <customer-page-header-section/>
  <confirmation [key]='"customer-delete-confirmation"' [header]='"Are you sure about deleting this customer?"'/>
  <messages-showcase [messages]="messages()"/>
  <card>
    <p card-header>Customers</p>
    <p card-subHeader>Manage your customers — create, preview, edit or delete.</p>
    <div card-body>
      <p-button title="Create" size="small" label="Create Customer" type="button" (onClick)="manage()"/>
      <p-table
        paginatorDropdownAppendTo="body"
        styleClass="mt-4"         [value]="customers.value() || []" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]">
        <ng-template #header>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Reside In</th>
            <th>Identity Document</th>
            <th>Personal Code</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-customer>
          <tr>
            <td>{{ customer.firstName }}</td>
            <td>{{ customer.lastName }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.birthdate | date:'mediumDate' }}</td>
            <td>{{ getIsoCountryLabel(customer.residenceCountry) }}</td>
            <td>{{ getIdentityDocumentTypeLabel(customer.identityDocument.type) }}</td>
            <td>{{ customer.identityDocument.value || 'Unprovided' }}</td>
            <td>
              <div class="flex flex-wrap items-center">
                <p-button title="Preview" icon="pi pi-eye" type="button" variant="text" (onClick)="preview(customer)"/>
                <p-button title="Edit" icon="pi pi-pencil" type="button" variant="text" (onClick)="manage(customer)"/>
                <p-button title="Delete" icon="pi pi-trash" type="button" variant="text" (onClick)="delete(customer)"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </card>
</div>
