<p-dialog
  header="Sale Declaration"
  closable="true"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  (close)="hide()"
  (onHide)="hide()"
  [(visible)]="isShown"
>
  <confirmation key="cancel-confirmation" header="Are you sure about cancelling this declaration?"/>

  <div class="flex flex-wrap gap-4" *ngIf="sale() !== undefined">
    <!-- Row of actions -->
    <div class="w-full">
      <p-button
        *ngIf="!declaration()!.isCanceled"
        title="Refresh declaration"
        icon="pi pi-refresh"
        label="Refresh"
        (click)="refresh()"
        [disabled]="isRefreshing()"
      />

      <p-button
        *ngIf="!declaration()!.isCanceled"
        title="Cancel declaration"
        icon="pi pi-ban"
        class="ml-2"
        label="Cancel"
        (click)="cancel()"
        [disabled]="isCanceling()"
        severity="danger"
      />
    </div>

    <!-- Left Column -->
    <div class="dark:bg-surface-950 bg-surface-50 flex-1 min-w-42 p-4 rounded-lg shadow-md relative" *ngIf="declaration() != undefined">
      <p class="font-bold text-lg mb-2">Declaration Information</p>

      <p class="text-lg">
        <strong>Declaration Id:</strong>
        {{ declaration()!.id }}
      </p>

      <p class="text-lg">
        <strong>Declared By</strong>
        {{ toUserIdentityFullName(declaration()!.declaredBy) }}
      </p>

      <p class="text-lg">
        <strong>Submit Date:</strong>
        {{ declaration()!.submitDate | date:'medium' }}
      </p>

      <p class="text-lg">
        <strong>State:</strong>
        <p-badge
          class="ml-1"
          [value]="declaration()!.isCanceled ? 'Canceled' : toSubmitDeclarationStateLabel(declaration()!.state)"
          [severity]="declaration()!.isCanceled || declaration()!.state === SubmitDeclarationState.REJECTED ? 'danger' : 'success'"
        />
      </p>

      <p *ngIf="declaration()!.correction > 1" class="text-lg">
        <strong>Corrected Times:</strong>
        {{ declaration()!.correction }}
      </p>
    </div>

    <!-- Right Column -->
    <div class="dark:bg-surface-950 bg-surface-50 flex-1 min-w-42 p-4 rounded-lg shadow-md">
      <p class="font-bold text-lg mb-2">Sale Information</p>

      <p class="text-lg">
        <strong>Customer:</strong>
        {{ toCustomerFullName(sale()!!.customer) }}
      </p>

      <p class="text-lg">
        <strong>Salesman:</strong>
        {{ sale()!.salesman.name }}
      </p>

      <p class="text-lg">
        <strong>Sold Goods:</strong>
        {{ sale()!.soldGoods.length }} good(s)
      </p>

      <p class="text-lg">
        <strong>VAT to return:</strong>
        {{ getVATToReturn(sale()!) | currency:'EUR':'symbol':'1.2-2' }}
      </p>
    </div>
  </div>

  <div *ngIf="declaration?.() && declaration()?.qrCodes?.length" class="mt-4">
    <div class="dark:bg-surface-950 bg-surface-50 rounded-lg shadow-md">
      <div class="p-4 cursor-pointer flex justify-between items-center" (click)="showQrCodes.set(!showQrCodes())">
        <p class="font-bold text-lg">QR Codes</p>
        <svg class="w-6 h-6 transform transition-transform" [ngClass]="{'rotate-180': showQrCodes()}"
             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>
      </div>
      <div class="p-4" *ngIf="showQrCodes()">
        <div class="flex flex-wrap gap-4">
          <div
            *ngFor="let qrCode of declaration()!.qrCodes; let i = index"
            class="flex justify-center w-full sm:w-1/2 md:w-1/3 lg:w-1/4"
          >
            <img
              [src]="'data:image/png;base64,' + qrCode"
              [alt]="'Declaration\'s #' + (i + 1) + ' QR code chunk'"
              class="w-48 h-48"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dark:bg-surface-950 bg-surface-50 card mt-4 p-4 rounded-lg shadow-md" *ngIf="sale() !== undefined">
    <p class="font-bold text-lg mb-4">Sold Goods</p>

    <p-table [value]="sale()!.soldGoods">
      <ng-template #header>
        <tr>
          <th class="text-left p-2">Sequence No</th>
          <th class="text-left p-2">Description</th>
          <th class="text-left p-2">Quantity</th>
          <th class="text-left p-2">Measure Unit</th>
          <th class="text-left p-2">Unit Price</th>
          <th class="text-left p-2">VAT Amount</th>
          <th class="text-left p-2">Total Amount</th>
        </tr>
      </ng-template>
      <ng-template
        #body
        let-soldGood
      >
        <tr>
          <td class="p-2"><p class="text-right">{{ soldGood.sequenceNo }}</p></td>
          <td class="p-2">{{ soldGood.description }}</td>
          <td class="p-2"><p class="text-right">{{ soldGood.quantity }}</p></td>
          <td class="p-2">{{ soldGood.unitOfMeasure }}</td>
          <td class="p-2"><p class="text-right">{{ soldGood.taxableAmount / soldGood.quantity | round:2 | currency:'EUR':'symbol':'1.2-2' }}</p></td>
          <td class="p-2"><p class="text-right">{{ soldGood.vatAmount | round:2 | currency:'EUR':'symbol':'1.2-2' }} ({{ soldGood.vatRate | round:2 }}%)</p></td>
          <td class="p-2"><p class="text-right">{{ soldGood.totalAmount | round:2 | currency:'EUR':'symbol':'1.2-2' }}</p></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="dark:bg-surface-950 bg-surface-50 card mt-4 p-4 rounded-lg shadow-md" *ngIf="declaration?.()?.export">
    <p class="font-bold text-lg mb-4">Export Information</p>

    <div class="mb-4">
      <p class="text-lg">
        <strong>Assessment Date:</strong>
        {{ declaration()!.export!.assessmentDate | date:'medium' }}
      </p>
      <p class="text-lg">
        <strong>Assessed Declaration Correction No:</strong>
        {{ declaration()!.export!.declarationCorrectionNo }}
      </p>
      <p class="text-lg" *ngIf="declaration()!.export!.correctionDate">
        <strong>Correction Date:</strong>
        {{ declaration()!.export!.correctionDate | date:'medium' }}
      </p>
      <p class="text-lg">
        <strong>Customs Office Code:</strong>
        {{ declaration()!.export!.customsOfficeCode }}
      </p>
      <p class="text-lg">
        <strong>Verification Date:</strong>
        {{ declaration()!.export!.verificationDate | date:'medium' }}
      </p>
      <p class="text-lg">
        <strong>Verification Result:</strong>
        {{ toExportResultLabel(declaration()!.export!.verificationResult) }}
      </p>
    </div>

    <div class="mb-4">
      <p class="font-bold text-lg mb-2">Assessment Conditions</p>
      <ul class="list-disc pl-6">
        <li *ngFor="let condition of declaration()!.export!.conditions">
          <p>
            <strong>{{ condition.code }}:</strong> {{ condition.description }}
            <p-badge
              class="ml-1"
              [value]="condition.isMet ? 'Met' : 'Not Met'"
              [severity]="condition.isMet ? 'success' : 'danger'"
            />
          </p>
        </li>
      </ul>
    </div>

    <div class="w-fit">
      <p class="font-bold text-lg mb-2">Verified Sold Goods</p>
      <p-table [value]="declaration()!.export!.verifiedSoldGoods" class="w-fit">
        <ng-template #header>
          <tr>
            <th class="text-left p-2">Sequence No</th>
            <th class="text-left p-2">Quantity</th>
            <th class="text-left p-2">Quantity Verified</th>
            <th class="text-left p-2">Unit of Measure</th>
            <th class="text-left p-2">Total Amount</th>
          </tr>
        </ng-template>
        <ng-template #body let-verifiedGood>
          <tr>
            <td class="p-2"><p class="text-right">{{ verifiedGood.sequenceNo }}</p></td>
            <td class="p-2"><p class="text-right">{{ verifiedGood.quantity }}</p></td>
            <td class="p-2"><p class="text-right">{{ verifiedGood.quantityVerified }}</p></td>
            <td class="p-2">{{ verifiedGood.unitOfMeasure }}</td>
            <td class="p-2"><p class="text-right">{{ verifiedGood.totalAmount | currency:'EUR':'symbol':'1.2-2' }}</p></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div *ngIf="sale() !== undefined && !declaration()?.isCanceled" class="dark:bg-surface-950 bg-surface-50">
    <p class="font-bold text-lg my-2" *ngIf="declaration() === undefined">
      This sale does not have a submitted VAT return declaration.
    </p>

    <div class="p-4 rounded mt-4">
      <vat-return-declaration-submission
        [instanceId]="instanceId()"
        [sale]="sale()!"
      />
    </div>
  </div>
</p-dialog>
