<form class="flex flex-col gap-6 max-w-xl" [formGroup]="form">
  <p class="text-justify">{{ 'component.reset-password.description' | translate }}</p>

  <div class="flex flex-col gap-4">
    <!-- Email -->
    <div class="w-full">
      <p-floatlabel variant="on" class="w-60">
        <p-iconfield>
          <p-inputicon class="pi pi-envelope"/>
          <input pInputText class="w-60" id="email" formControlName="email" type="email"/>
        </p-iconfield>
        <label for="email">{{ 'component.reset-password.input.email' | translate }}</label>
      </p-floatlabel>
      <form-input-error [control]="form.controls.email"/>
    </div>
    <messages-showcase [messages]="messages()"/>
    <p-button [title]="'component.reset-password.button.reset' | translate" size="small"
              [label]="'component.reset-password.button.reset' | translate" type="submit" (onClick)="resetPassword()"
              [disabled]="form.invalid || !form.dirty"/>
  </div>
</form>
