<form [formGroup]="form" class="flex flex-col gap-4">
  <div class="flex flex-wrap gap-4">
    <!-- Report Type -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-select [options]="reportTypes" optionLabel="label" optionValue="id" appendTo="body" inputId="reportType"
                  [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}" dropdownIcon="pi pi-book"
                  styleClass="w-full"/>
        <label for="reportType">{{ 'component.report-generate-form.input.type' | translate }}</label>
      </p-floatlabel>
    </div>

    @switch (selectedType()) {
      @case (1) {
        <!-- Template -->
        <div formGroupName="dataEntry">
          <p-floatlabel variant="on" class="w-60">
            <p-select [options]="reportTemplates.value()" optionLabel="label" optionValue="id" appendTo="body"
                      formControlName="templateId" class="w-full"/>
            <label for="templateId">{{ 'component.report-generate-form.input.template' | translate }}</label>
          </p-floatlabel>
        </div>
      }
      @default {
        <ng-container formGroupName="sale">
          <!-- Customer -->
          <div>
            <p-floatlabel variant="on" class="w-60">
              <p-select [options]="customers.value()" optionLabel="label" optionValue="id" appendTo="body"
                        styleClass="w-full" formControlName="customerId" dropdownIcon="pi pi-user"/>
              <label for="customerId">{{ 'component.report-generate-form.input.customer' | translate }}</label>
            </p-floatlabel>
          </div>

          <!-- Salesman -->
          <div>
            <p-floatlabel variant="on" class="w-60">
              <p-select [options]="salesmen.value()" optionLabel="label" optionValue="id" appendTo="body"
                        styleClass="w-full" formControlName="salesmanId" dropdownIcon="pi pi-shop"/>
              <label for="salesmanId">{{ 'component.report-generate-form.input.salesman' | translate }}</label>
            </p-floatlabel>
          </div>
        </ng-container>
      }
    }

    <!-- Date (From) -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-date-picker inputId="from" formControlName="from" [showIcon]="true" variant="filled" iconDisplay="input"
                       appendTo="body" styleClass="w-full"/>
        <label for="to">{{ 'component.report-generate-form.input.date-from' | translate }}</label>
        <form-input-error [control]="form.controls.from"/>
      </p-floatlabel>
    </div>

    <!-- Date (To) -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-date-picker inputId="to" formControlName="to" [showIcon]="true" variant="filled" iconDisplay="input"
                       appendTo="body" styleClass="w-full"/>
        <label for="to">{{ 'component.report-generate-form.input.date-to' | translate }}</label>
        <form-input-error [control]="form.controls.to"/>
      </p-floatlabel>
    </div>
  </div>
  <form-input-error [control]="form"/>
  <messages-showcase [messages]="messages()"/>
  <p-button [title]="'component.report-generate-form.button.generate' | translate" size="small"
            [label]="'component.report-generate-form.button.generate' | translate" type="submit" (onClick)="generate()"
            [disabled]="form.invalid || !form.dirty"/>
</form>
