<confirmation [key]="'submit-confirmation'" [header]="'Are you sure? No later changes can be made!'"/>
<form [formGroup]="form" class="flex flex-col gap-4">
  <div formArrayName="payments" class="flex flex-col gap-8">
    @for (_ of getFormPayments().controls; track $index; let i = $index) {
      <div [formGroupName]="i" class="flex flex-wrap gap-4">
        <!-- Type Dropdown -->
        <div>
          <p-float-label variant="on" class="w-60">
            <p-select inputId="type" formControlName="type" [options]="types" optionLabel="label" optionValue="id"
                      class="w-full"
                      appendTo="body" dropdownIcon="pi pi-objects-column"/>
            <label for="type">Payment Type</label>
          </p-float-label>
        </div>

        <!-- Amount Input -->
        <div>
          <p-float-label variant="on" class="w-60">
            <p-icon-field>
              <p-inputicon class="pi pi-euro"/>
              <input pInputText class="w-60" id="amount" type="number" formControlName="amount" [min]="0" [step]="0.05"
                     class="w-full"/>
            </p-icon-field>
            <label for="amount">Amount</label>
          </p-float-label>
        </div>

        <!-- Date Input -->
        <div>
          <p-float-label variant="on" class="w-60">
            <p-date-picker inputId="date" formControlName="date" [showIcon]="true" [showTime]="true" variant="filled"
                           iconDisplay="input" class="w-full" appendTo="body"/>
            <label for="date">Date</label>
          </p-float-label>
        </div>

        <!-- Remove Button -->
        @if (getFormPayments().length > 1) {
          <p-button title="Remove" variant="text" icon="pi pi-trash" type="button" (click)="removePaymentInfo(i)"/>
        }
      </div>
    }

    <!-- Add Payment Info Button -->
    <p-button title="Add Payment Info Entry" label="Add Payment Info" size="small" type="button"
              (click)="addFormPaymentInfo()"/>
  </div>

  <!-- Submit Button -->
  <messages-showcase [messages]="messages()"/>
  <p-button title="Submit" label="Submit Payments" size="small" type="submit" (onClick)="submit()"/>
</form>
