<div class="h-full w-full relative container mx-auto flex flex-col mb-8">
  <salesman-page-header-section [canGoBack]="true"/>
  @if (salesman.isLoading()) {
    <p-progress-spinner/>
  } @else if (!salesman.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let salesmanValue = salesman.value()!;
    <card>
      <p card-header>Salesman</p>
      <div card-body class="flex flex-col gap-4">
        <card>
          <p card-header>Details</p>
          <div card-body class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
              <div class="flex flex-row gap-2">
                <p class="font-semibold">Name</p>
                <p>{{ salesmanValue.name }}</p>
              </div>
            </div>
          </div>
        </card>
        <card>
          <p card-header>VAT Payer Code</p>
          <div card-body class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
              <div class="flex flex-row gap-2">
                <p class="font-semibold">Issued By</p>
                <p>{{ getIsoCountryLabel(salesmanValue.vatPayerCode.issuedBy) }}</p>
              </div>
              <div class="flex flex-row gap-2">
                <p class="font-semibold">Code</p>
                <p>{{ salesmanValue.vatPayerCode.value }}</p>
              </div>
            </div>
          </div>
        </card>
      </div>
    </card>
  }
</div>
