<p-dialog
  header="Data Type Management"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  closable="true"
  [(visible)]="isShown"
  (onHide)="hide()"
  (close)="hide()"
>
  <div class="min-w-128">
    <messages-showcase [messages]="messages()"/>

    <div
      class="flex flex-col gap-4"
      [formGroup]="form"
    >
      <div class="flex flex-row gap-4">
        <div class="flex flex-col w-full">
          <label
            for="name"
            class="block text-sm font-medium"
          >Name</label>
          <input
            formControlName="name"
            pInputText
            type="text"
            id="name"
            class="mt-1 block w-full border border-surface-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          />
          @if (getErrorMessage("name"); as error) {
            <div class="text-xs text-red-500 mt-1">{{ error }}</div>
          }
        </div>

        <div
          *ngIf="dataType()"
          class="flex flex-col w-full">
          <label
            for="displayField"
            class="block text-sm font-medium"
          >Display Field</label>
          <p-select
            formControlName="displayField"
            [options]="displayFields()"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a field"
            appendTo="body"
            styleClass="w-full"
            class="mt-1"
          ></p-select>
        </div>
      </div>

      <div class="flex flex-col">
        <label
          for="description"
          class="block text-sm font-medium"
        >Description</label>
        <textarea
          formControlName="description"
          pTextarea
          id="description"
          class="mt-1 p-2 block w-full border border-surface-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        ></textarea>
        @if (getErrorMessage("description"); as error) {
          <div class="text-xs text-red-500 mt-1">{{ error }}</div>
        }
      </div>

      <div class="flex flex-col">
        <label
          for="fields"
          class="block text-sm font-medium"
        >Fields</label>

        <table
          class="p-datatable-table"
          id="fields"
          formArrayName="fields"
        >
          <thead class="p-datatable-thead">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default Value</th>
            <th>Required</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody class="p-datatable-tbody">
            @for (field of formFields.controls; let i = $index; track i) {
              @let fieldType = getFieldType(i);
              @let isReference = fieldType === FieldType.Reference;

              <tr [formGroup]="field">
                <td>
                  <input
                    formControlName="name" pInputText type="text"
                    class="w-full" [class]="{'mt-7': isReference}"
                  />
                </td>

                <td>
                  <p-select
                    formControlName="type"
                    [options]="fieldTypes" optionLabel="label" optionValue="value"
                    placeholder="Select a type" appendTo="body" styleClass="w-full"
                    [class]="{'mt-7': isReference}"
                  />
                </td>

                <td>
                  @if (isReference) {
                    <div class="flex flex-col">
                      <label for="referencedType" class="font-semibold">Referenced Type</label>
                      <p-select
                        id="referencedType"
                        placeholder="Select referenced type"
                        formControlName="referencedType" [options]="dataTypes.value() || []"
                        optionLabel="name" optionValue="id" appendTo="body"
                        class="mt-1 w-full"
                      />
                    </div>
                  } @else {
                    <data-type-entry-field-input
                      formControlName="defaultValue" [type]="fieldType"
                    />
                  }
                </td>

                <td>
                  <p-checkbox
                    formControlName="isRequired" binary
                    [styleClass]="isReference ? 'mt-7' : ''"
                  />
                </td>

                <td>
                  <p-button
                    icon="pi pi-trash" type="button"
                    variant="text" (onClick)="removeField(i)"
                    [styleClass]="isReference ? 'mt-7' : ''"
                  />
                </td>
              </tr>
            }
          </tbody>
        </table>

        @if (getErrorMessage("fields"); as error) {
          <div class="text-xs text-red-500 mt-1">{{ error }}</div>
        }

        <div class="mt-2">
          <p-button
            label="Add Field"
            (onClick)="addField()"
          ></p-button>
        </div>
      </div>
    </div>

    <div class="flex justify-end mt-4">
      <p-button
        [label]="dataType() === undefined ? 'Create' : 'Save'"
        [disabled]="form.invalid || !form.dirty"
        (onClick)="save()"
      ></p-button>
    </div>
  </div>
</p-dialog>
