<div>
  <app-data-type-preview/>

  <app-data-type-management/>

  <app-confirmation
    [key]='"data-type-delete-confirmation"'
    [header]='"Are you sure about deleting this data type?"'
  />

  <div class="mb-2">
    <app-messages-showcase [messages]="messages()"/>
  </div>

  @if (!instanceId()) {
    <p-message severity="warn">Please select an instance to manage data types.</p-message>
  } @else {
    <p-button
      label="Create"
      icon="pi pi-plus"
      type="button"
      (onClick)="showManagement(null)"
    ></p-button>
  }

  <div class="card mt-4">
    <p-table
      [value]="dataTypes()"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 50]"
    >
      <ng-template #header>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Fields</th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template
        #body
        let-dataType
      >
        <tr>
          <td>{{ dataType.name }}</td>
          <td>{{ dataType.description }}</td>
          <td>{{ dataType.fields.length }} fields</td>
          <td class="flex flex-nowrap items-center">
            <p-button
              icon="pi pi-eye"
              type="button"
              variant="text"
              (onClick)="showPreview(dataType)"
            ></p-button>
            <p-button
              icon="pi pi-pencil"
              type="button"
              variant="text"
              (onClick)="showManagement(dataType)"
            ></p-button>
            <p-button
              icon="pi pi-trash"
              type="button"
              variant="text"
              (onClick)="delete(dataType)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
