<card>
  <p card-header>Details</p>
  <form card-body class="flex flex-col gap-4" [formGroup]="form">
    <div class="flex flex-col gap-4 md:flex-row">
      <!-- First Name -->
      <div>
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-tag"/>
            <input pInputText id="firstName" formControlName="firstName" type="text"/>
          </p-iconfield>
          <label for="firstName">First Name</label>
        </p-floatlabel>
        <form-input-error [control]="form.controls.firstName"/>
      </div>
      <!-- Last Name -->
      <div>
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-tag"/>
            <input pInputText id="lastName" formControlName="lastName" type="text"/>
          </p-iconfield>
          <label for="lastName">Last Name</label>
        </p-floatlabel>
        <form-input-error [control]="form.controls.lastName"/>
      </div>
      <!-- Email -->
      <div>
        <p-floatlabel variant="on">
          <p-iconfield>
            <p-inputicon class="pi pi-envelope"/>
            <input pInputText id="email" formControlName="email" type="email"/>
          </p-iconfield>
          <label for="email">Email</label>
        </p-floatlabel>
        <form-input-error [control]="form.controls.email"/>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <!-- Birth Date -->
      <div class="w-fit">
        <p-ifta-label class="w-fit">
          <p-date-picker formControlName="birthDate" styleClass="min-w-60" inputId="birthDate" appendTo="body"/>
          <label for="birthDate">Birthdate</label>
        </p-ifta-label>
        <form-input-error [control]="form.controls.birthDate"/>
      </div>
      <!-- Country Dropdown -->
      <div class="w-fit">
        <p-ifta-label>
          <p-select [options]="countries" formControlName="country" optionLabel="name" styleClass="min-w-60"
                    appendTo="body"/>
          <label for="birthDate">Country</label>
        </p-ifta-label>
        <form-input-error [control]="form.controls.birthDate"/>
      </div>
    </div>
    <messages-showcase [messages]="messages()"/>
    <div class="flex flex-row gap-1">
      <p-button label="Reset" [disabled]="!form.dirty" (onClick)="reset()" type="button" class="mr-2" size="small"
                severity="danger"/>
      <p-button label="Save" [disabled]="form.invalid || !form.dirty" (onClick)="save()" type="submit" size="small"/>
    </div>
  </form>
</card>
