<div class="h-full w-full relative container mx-auto flex flex-col">
  <data-entry-page-header-section [canGoBack]="true"/>
  @if (dataType.isLoading() || dataEntry.isLoading()) {
    <loading-spinner/>
  } @else if (dataTypeId() && !dataType.value() || dataEntryId() && !dataEntry.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let dataType = this.dataType.value()!;
    <card>
      <p card-header>{{ ('page.data-entry-management.title' | translate:{ name: dataType.name }) }}</p>
      <p card-subHeader>{{ ('page.data-entry-management.description' | translate:{ name: dataType.name }) }}</p>
      <form card-body [formGroup]="form" class="flex flex-col gap-4">
        <div class="flex flex-wrap gap-4" formArrayName="values">
          @for (field of formFields(); track $index) {
            @let isReferenceField = field.type === FieldType.Reference;
            @let isCheckbox = field.type === FieldType.Check;
            <div>
              @if (!isCheckbox) {
                <p-floatlabel variant="on" class="w-60">
                  @if (isReferenceField) {
                    <p-select [options]="getDataEntries(field.referenceId)()" optionLabel="label" optionValue="id" appendTo="body"
                              dropdownIcon="pi pi-reference" [formControl]="field.control.controls.value" class="w-full"
                              [required]="field.isRequired!"/>
                  } @else {
                    <data-type-entry-field-input [formControl]="field.control.controls.value" [type]="field.type!"/>
                  }
                  <label [for]="field.field">{{ field.field }}</label>
                </p-floatlabel>
              } @else {
                <div class="p-inputtext flex flex-row gap-2">
                  <data-type-entry-field-input [inputId]="field.field ?? undefined" [formControl]="field.control.controls.value"
                                               [type]="field.type!"/>
                  <label class="text-primary-950/80 dark:text-primary-50/80 opacity-70" [for]="field.field">
                    {{ field.field }}
                  </label>
                </div>
              }
              <form-input-error [control]="field.control.controls.value"/>
            </div>
          }
        </div>
        <messages-showcase [messages]="messages()"/>
        <p-button [title]="'page.data-entry-management.button.submit' | translate" size="small"
                  [label]="('page.data-entry-management.button.' + (!dataEntryId() ? 'create' : 'save')) | translate"
                  [disabled]="form.invalid || !form.dirty" (onClick)="save()" type="submit"/>
      </form>
    </card>
  }
</div>
