<p-table styleClass="w-fit shadow-lg mt-2 dark:bg-primary-950! bg-primary-50!"
         paginatorStyleClass="dark:bg-primary-950! bg-primary-50!" [columns]="dataType().fields || []"
         [value]="dataEntries()" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]">
  <ng-template #header let-columns>
    <tr>
      @for (fields of columns; track fields.id) {
        <th>{{ fields.name }}</th>
      }
      <th>Created</th>
      <th>Modified</th>
      <th>Modified By</th>
      <th *ngIf="containsActions()"></th>
    </tr>
  </ng-template>

  <ng-template
    #body
    let-dataEntry
  >
    <tr>
      @for (field of dataEntry.fields; track field.id) {
        <td>
          <data-type-entry-field-display [dataTypeFieldId]="field.dataTypeFieldId" [dataType]="dataType()"
                                         [value]="field.value"/>
        </td>
      }
      <td>{{ dataEntry.createdAt | date:'short' }}</td>
      <td>{{ dataEntry.modifiedAt | date:'short' }}</td>
      <td>{{ toUserIdentityFullName(dataEntry.modifiedBy) }}</td>
      <td *ngIf="containsActions()" class="flex flex-nowrap items-center">
        <p-button *ngIf="preview()" icon="pi pi-eye" type="button" variant="text" (onClick)="preview()?.(dataEntry)"/>
        <p-button *ngIf="manage()" icon="pi pi-pencil" type="button" variant="text" (onClick)="manage()?.(dataEntry)"/>
        <p-button *ngIf="delete()" icon="pi pi-trash" type="button" variant="text" (onClick)="delete()?.(dataEntry)"/>
      </td>
    </tr>
  </ng-template>
</p-table>
