<div class="h-full w-full relative container mx-auto flex flex-col mb-8">
  <data-entry-page-header-section/>
  @if (dataType.isLoading()) {
    <loading-spinner/>
  } @else if (!dataType.value()) {
    <failed-to-load-please-reload/>
  } @else {
    <p-dialog header="Data Entry Import" closeOnEscape="true" modal="true" styleClass="min-w-128" closable="true"
              [(visible)]="showImporting" (onHide)="showImporting.set(false)" (close)="showImporting.set(false)">
      <data-entry-import-form [clearImportedValues]="showImporting()" [dataType]="dataType.value()!"
                              [instanceId]="instanceIdAsNumber()!"/>
    </p-dialog>
    <confirmation [key]='"data-entry-delete-confirmation"' [header]='"Are you sure about deleting this data entry?"'/>
    <messages-showcase [messages]="messages()"/>
    <card class="w-fit!">
      <p card-header>
        @if (dataType.value()?.name) {
          {{ dataType.value()!.name }}
        } @else {
          Data Entries
        }
      </p>
      <p card-subHeader>Manage your data entries — create, preview, edit or delete.</p>
      <div card-body class="flex flex-col gap-4">
        <div class="flex flex-col md:flex-row gap-4">
          <p-button title="Create" size="small" label="Create {{dataType.value()?.name}}" type="button"
                    (onClick)="manage()"/>
          <div class="flex flex-col md:flex-row gap-1">
            <p-button title="Import" label="Import" icon="pi pi-file-import" size="small"
                      (onClick)="showImporting.set(true)"/>
            <p-button title="Open Configurations" label="Import Configurations" icon="pi pi-file-excel" size="small"
                      routerLink="../import-configuration" [queryParams]="{dataTypeId: dataType.value()!.id}"/>
          </div>
          <div class="flex flex-col md:flex-row gap-1">
            <p-button title="Generate" label="Generate Report" icon="pi pi-file-pdf" routerLink="../generate-report"
                      size="small"/>
            <p-button title="Open Templates" label="Report Templates" icon="pi pi-file" routerLink="../report-template"
                      [queryParams]="{dataTypeId: dataType.value()!.id}" size="small"/>
          </div>
        </div>
        <data-entry-table [dataEntries]="dataEntries.value() || []" [dataType]="dataType.value()!" [delete]="onDelete"
                          [manage]="onManage" [preview]="onPreview" [instanceId]="instanceIdAsNumber()!"/>
      </div>
    </card>
  }
</div>
