<p-dialog
  header="Instance Preview"
  closable="true"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  (close)="hide()"
  (onHide)="hide()"
  [(visible)]="isShown"
>
  <p class="font-bold">Name</p>
  <p>{{ instance()?.name }}</p>

  <p class="font-bold mt-4">Description</p>
  <p>{{ instance()?.description }}</p>

  <p class="font-bold mt-4">Created</p>
  <p>{{ instance()?.createdAt | date:'medium' }}</p>

  <div class="flex justify-end mt-4">
    <p-button
      label="Close"
      class="p-button-secondary"
      (onClick)="hide()"
    ></p-button>
  </div>
</p-dialog>
