<h2 class="text-2xl font-bold mb-4">Register</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
  <div class="flex flex-wrap gap-4">
    <!-- First Name -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-iconfield>
          <p-inputicon class="pi pi-tag"/>
          <input pInputText class="w-60" id="firstName" formControlName="firstName" type="text"/>
        </p-iconfield>
        <label for="firstName">First Name</label>
      </p-floatlabel>
      <form-input-error [control]="form.controls.firstName"/>
    </div>

    <!-- Last Name -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-iconfield>
          <p-inputicon class="pi pi-tag"/>
          <input pInputText class="w-60" id="lastName" formControlName="lastName" type="text"/>
        </p-iconfield>
        <label for="lastName">Last Name</label>
      </p-floatlabel>
      <form-input-error [control]="form.controls.lastName"/>
    </div>

    <!-- Email -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-iconfield>
          <p-inputicon class="pi pi-envelope"/>
          <input pInputText class="w-60" id="email" formControlName="email" type="email"/>
        </p-iconfield>
        <label for="email">Email</label>
      </p-floatlabel>
      <form-input-error [control]="form.controls.email"/>
    </div>
    <!-- Country -->
    <div>
      <p-float-label variant="on" class="w-60">
        <p-select dropdownIcon="pi pi-globe" [options]="IsoCountries" formControlName="country" optionLabel="name"
                  styleClass="w-full" appendTo="body"/>
        <label for="country">Country</label>
      </p-float-label>
      <form-input-error [control]="form.controls.country"/>
    </div>

    <!-- Password -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-iconfield>
          <p-inputicon class="pi pi-lock"/>
          <p-password id="password" formControlName="password" inputStyleClass="pl-10! w-60!"
                      toggleMask="true" feedback="false"/>
        </p-iconfield>
        <label for="password">Password</label>
      </p-floatlabel>
      <form-input-error [control]="form.controls.password"/>
    </div>

    <!-- Confirm Password -->
    <div>
      <p-floatlabel variant="on" class="w-60">
        <p-iconfield>
          <p-inputicon class="pi pi-lock"/>
          <p-password id="confirmPassword" formControlName="confirmPassword" inputStyleClass="pl-10! w-60!"
                      toggleMask="true" feedback="false"/>
        </p-iconfield>
        <label for="confirmPassword">Confirm Password</label>
      </p-floatlabel>
      <form-input-error [control]="form.controls.confirmPassword" [customErrorMessages]="customErrorsMessages"/>
    </div>

    <!-- Birth Date -->
    <div>
      <p-float-label variant="on">
        <p-date-picker icon="pi pi-calendar" iconDisplay="input" showIcon formControlName="birthDate"
                       styleClass="w-60" inputId="birthDate" appendTo="body"/>
        <label for="birthDate">Birthdate</label>
      </p-float-label>
      <form-input-error [control]="form.controls.birthDate"/>
    </div>
  </div>
  <messages-showcase [messages]="messages()"/>
  <p-button type="submit" label="Register" icon="pi pi-check" [loading]="isSubmitting()"
            styleClass="w-full" class="w-full" [disabled]="form.invalid"/>
</form>

<p class="mt-4 text-sm text-center">Already have an account?</p>

<p class="text-center">
  <a routerLink="/auth/login" class="dark:text-indigo-400 text-indigo-600 hover:underline">Login here</a>
</p>
