<confirmation key="session-revokation" header="Are you sure about revoking this session?"/>
<p-toast key="session-revokation"/>
<card>
  <p card-header>Sessions</p>
  <div card-subHeader class="flex flex-col">
    <p>These are your sessions (times and devices you logged in with).</p>
    <p>If you want to revoke a session, click on the revoke button. Current session cannot be revoked.</p>
  </div>
  <p-table card-body paginatorDropdownAppendTo="body" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]"
           [value]="sessions.value() || []">
    <ng-template #header>
      <tr>
        <th>Agent</th>
        <th>Created At</th>
        <th>Active Time</th>
        <th>IP Address</th>
        <th>Location</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-session>
      <tr>
        <td class="max-w-64">{{ session.agent }}</td>
        <td>{{ session.createdAt | date: 'medium' }}</td>
        <td>{{ getActiveTime(session) }}</td>
        <td>{{ session.ipAddress }}</td>
        <td>{{ session.location }}</td>
        <td>
          <div class="flex flex-wrap items-center">
            <p-button title="Revoke" [disabled]="session.id === currentSessionId.value()" icon="pi pi-ban"
                      type="button" variant="text" (onClick)="revoke(session)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</card>
