<div class="h-full w-full relative container mx-auto flex flex-col">
  <sale-page-header-section/>
  <confirmation [key]='"sale-delete-confirmation"' [header]='"Are you sure about deleting this sale?"'/>
  <messages-showcase [messages]="messages()"/>
  <card>
    <p card-header>Sales</p>
    <p card-subHeader>Manage your sales — create, preview, edit or delete.</p>
    <div card-body>
      <p-button title="Create" size="small" label="Create Sale" type="button" (onClick)="manage()"/>
      <p-table paginatorDropdownAppendTo="body"
               styleClass="mt-4"                [value]="sales.value() || []" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]">
        <ng-template #header>
          <tr>
            <th>Customer</th>
            <th>Salesman</th>
            <th>Sale Date</th>
            <th>Sold Goods</th>
            <th>Total Price</th>
            <th>Returnable VAT</th>
            <th>VAT Return Declaration</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-sale>
          <tr>
            <td>{{ toCustomerFullName(sale.customer) }}</td>
            <td>{{ sale.salesman.name }}</td>
            <td>{{ sale.date | date:'medium' }}</td>
            <td>{{ sale.soldGoods.length }} good(s)</td>
            <td>{{ getTotalPrice(sale.soldGoods) | currency:'EUR':'symbol':'1.2-2' }}</td>
            <td>{{ getTotalVAT(sale.soldGoods) | currency:'EUR':'symbol':'1.2-2' }}</td>
            <td>
              @if (!sale.vatReturnDeclaration) {
                <badge-contrasted value="Not Submitted"/>
              } @else if (sale.vatReturnDeclaration.isCancelle) {
                <p-badge size="small" value="Cancelled" severity="danger"/>
              } @else if (sale.vatReturnDeclaration?.state === SubmitDeclarationState.REJECTED) {
                <p-badge size="small" value="Rejected" severity="danger"/>
              } @else {
                <p-badge size="small" value="Accepted" severity="success"/>
              }
            </td>
            <td>
              <div class="flex items-center">
                <p-button title="Preview" icon="pi pi-eye" type="button" variant="text" (onClick)="preview(sale)"/>
                <p-button title="Manage Declaration" icon="pi pi-book" type="button" variant="text"
                          (onClick)="vatReturnDeclaration(sale)"/>
                <p-button title="Edit" icon="pi pi-pencil" type="button" variant="text" (onClick)="manage(sale)"/>
                <p-button title="Delete" icon="pi pi-trash" type="button" variant="text" (onClick)="delete(sale)"/>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </card>
</div>
