<div class="h-full w-full relative container mx-auto flex flex-col">
  <import-configuration-page-header-section [canGoBack]="true"/>
  @if (configuration.isLoading()) {
    <loading-spinner/>
  } @else if (!configuration.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let configuration = this.configuration.value()!;
    <card>
      <p card-header>{{ configuration.name }}</p>
      <p card-subHeader>Preview of this unique import configuration.</p>
      <div card-body class="flex flex-col gap-4">
        <card>
          <p card-header>Details</p>
          <p card-subHeader>Details of this specific import configuration.</p>
          <div card-body class="flex flex-col">
            <div class="flex flex-row gap-2">
              <p class="font-semibold">ID</p>
              <p>{{ configuration.id }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Name</p>
              <p>{{ configuration.name }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Data Type</p>
              <p>{{ configuration.dataType.name }}</p>
            </div>
          </div>
        </card>
        <card>
          <p card-header>Fields</p>
          <p card-subHeader>Fields of this specific import configuration.</p>
          <p-table card-body [value]="configuration.fields">
            <ng-template #header>
              <tr>
                <th class="text-left">Order</th>
                <th class="text-left">Field Name</th>
                <th class="text-left">Default Value</th>
              </tr>
            </ng-template>
            <ng-template #body let-field>
              @let dataTypeField = resolveDataTypeField(field);
              <tr>
                <td>{{ field.order + 1 }}</td>
                <td>{{ dataTypeField.name }}</td>
                <td>
                  <data-type-entry-field-display [dataType]="configuration.dataType"
                                                 [dataTypeFieldId]="dataTypeField.id"
                                                 [value]="field.defaultValue" [instanceId]="instanceIdAsNumber()"/>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </card>
        <card>
          <p card-header>Example CSV Format</p>
          <p card-subHeader>Example CSV format for this specific import configuration.</p>
          <div card-body class="flex flex-col">
            @let csv = getExampleCSV();
            <textarea class="mt-2 p-1 dark:bg-primary-700 bg-primary-300 rounded-md min-h-14 max-h-32"
                      [value]="csv.header + '\n' + csv.values">
            </textarea>
          </div>
        </card>
      </div>
    </card>
  }
</div>
