<div class="h-full w-full relative container mx-auto flex flex-col">
  <report-template-page-header-section [canGoBack]="true"/>
  @if (template.isLoading() || dataTypes.isLoading()) {
    <loading-spinner/>
  } @else if (templateId() && !template.value()) {
    <failed-to-load-please-reload/>
  } @else {
    <card>
      <p card-header>Manage Report Template</p>
      <p card-subHeader>Fill in the form below to create a new report template or modify an existing one.</p>
      <form card-body class="flex flex-col gap-4" [formGroup]="form">
        <div class="flex flex-wrap gap-4">
          <!-- Name -->
          <div>
            <p-floatlabel variant="on" class="w-60">
              <p-iconfield>
                <p-inputicon class="pi pi-tag"/>
                <input pInputText id="name" formControlName="name" type="text"/>
              </p-iconfield>
              <label for="name">Name</label>
            </p-floatlabel>
            <form-input-error [control]="form.controls.name"/>
          </div>

          <!-- Data Type -->
          <div>
            <p-floatlabel variant="on" class="w-60">
              <p-select [options]="dataTypes.value()" optionLabel="name" appendTo="body" styleClass="w-full"
                        dropdownIcon="pi pi-objects-column" (onChange)="changeFormFields($event.value)"/>
              <label for="dataType">Data Type</label>
            </p-floatlabel>
          </div>
        </div>

        <card>
          <p card-header>Fields</p>
          <p card-subHeader>Fields of this report template.</p>
          <div card-body class="flex flex-wrap gap-4" formArrayName="fields">
            @for (field of form.controls.fields.value; track field.id) {
              <badge-contrasted [value]="field.name!"/>
            }
          </div>
        </card>
        <messages-showcase [messages]="messages()"/>
        <p-button title="Submit" size="small" [label]="template.hasValue() ? 'Save' : 'Create'" [disabled]="form.invalid || !form.dirty"
                  (onClick)="save()" type="submit"/>
      </form>
    </card>
  }
</div>
