<p-table paginatorDropdownAppendTo="body" [value]="(dataEntriesModified | async) ?? []" [columns]="dataType().fields"
         [paginator]="true"
         [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" scrollable="true" scrollHeight="flex" sortMode="multiple">
  <ng-template #header let-columns>
    <tr>
      @for (field of columns; track field.id) {
        <th pSortableColumn="field_{{field.id}}">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-0.5">
              {{ field.name }}
              <p-sortIcon field="field_{{field.id}}"/>
            </div>
            @if (field.type === FieldType.Date) {
              <p-columnFilter type="date" field="field_{{field.id}}" display="menu"/>
            } @else if (field.type === FieldType.Number || field.type === FieldType.Currency) {
              <p-columnFilter type="numeric" field="field_{{field.id}}" display="menu"/>
            } @else {
              <p-columnFilter type="text" field="field_{{field.id}}" display="menu"/>
            }
          </div>
        </th>
      }
      <th pSortableColumn="createdAt">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-0.5">
            {{ 'component.data-entry-table.header.created-at' | translate }}
            <p-sortIcon field="createdAt"/>
          </div>
          <p-columnFilter type="date" field="createdAt" display="menu"/>
        </div>
      </th>
      <th pSortableColumn="modifiedAt">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-0.5">
            {{ 'component.data-entry-table.header.modified-at' | translate }}
            <p-sortIcon field="modifiedAt"/>
          </div>
          <p-columnFilter type="date" field="modifiedAt" display="menu"/>
        </div>
      </th>
      <th pSortableColumn="modifiedByFullName">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-0.5">
            {{ 'component.data-entry-table.header.modified-by' | translate }}
            <p-sortIcon field="modifiedByFullName"/>
          </div>
          <p-columnFilter type="text" field="modifiedByFullName" display="menu"/>
        </div>
      </th>
      <th *ngIf="containsActions()"></th>
    </tr>
  </ng-template>

  <ng-template #body let-dataEntry>
    <tr>
      @for (field of dataEntry.fields; track field.id) {
        <td>
          <data-type-entry-field-display [dataTypeFieldId]="field.dataTypeFieldId" [dataType]="dataType()"
                                         [value]="field.value" [instanceId]="instanceId()"/>
        </td>
      }
      <td>{{ dataEntry.createdAt | date:'short' }}</td>
      <td>{{ dataEntry.modifiedAt | date:'short' }}</td>
      <td>{{ dataEntry.modifiedByFullName }}</td>
      <td *ngIf="containsActions()">
        <div class="flex items-center">
          <p-button *ngIf="preview()" [title]="'component.data-entry-table.button.preview' | translate" icon="pi pi-eye"
                    type="button" variant="text" (onClick)="preview()?.(dataEntry)"/>
          <p-button *ngIf="manage()" [title]="'component.data-entry-table.button.edit' | translate" icon="pi pi-pencil"
                    type="button" variant="text" (onClick)="manage()?.(dataEntry)"/>
          <p-button *ngIf="delete()" [title]="'component.data-entry-table.button.delete' | translate" icon="pi pi-trash"
                    type="button" variant="text" (onClick)="delete()?.(dataEntry)"/>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
