<div class="h-full w-full flex flex-col">
  <header class="flex w-full h-12 px-4 py-1 dark:bg-surface-950 bg-surface-50 shadow-md sticky top-0 z-10">
    <div class="flex items-center space-x-6">
      <!-- Home -->
      <a class="text-xl font-bold cursor-pointer hover:opacity-70" routerLink="/home">Accounting</a>

      <!-- Theme Selector -->
      <theme-selector/>

      <!-- Instances -->
      <a class="hover:opacity-70 font-medium cursor-pointer" routerLink="/home/instance">Instances</a>

      <!-- Workspace -->
      <div class="relative inline-block">
        <button (click)="isWorkspaceMenuOpen.set(!isWorkspaceMenuOpen())" class="hover:opacity-70 font-medium cursor-pointer">
          Workspace
        </button>
        <div *ngIf="isWorkspaceMenuOpen()" class="absolute left-0 mt-1 w-48 bg-white dark:bg-surface-800 rounded shadow-lg z-20"
             (click)="isWorkspaceMenuOpen.set(false)">
          <a class="block px-4 py-2 hover:bg-surface-100 dark:hover:bg-surface-700" routerLink="/home/data-type">Data Types</a>
          <a class="block px-4 py-2 hover:bg-surface-100 dark:hover:bg-surface-700" routerLink="/home/workspace">Data Entries</a>
          <a class="block px-4 py-2 hover:bg-surface-100 dark:hover:bg-surface-700" routerLink="/home/generate-report">Generate
            Report</a>
        </div>
      </div>

      <!-- Admin -->
      @if (user.value()?.role === Role.Admin) {
        <div class="relative inline-block">
          <button (click)="isAdminMenuOpen.set(!isAdminMenuOpen())" class="hover:opacity-70 font-medium cursor-pointer">
            Admin
          </button>
          <div *ngIf="isAdminMenuOpen()" class="absolute left-0 mt-1 w-48 bg-white dark:bg-surface-800 rounded shadow-lg z-20"
               (click)="isAdminMenuOpen.set(false)">
            <a class="block px-4 py-2 hover:bg-surface-100 dark:hover:bg-surface-700" routerLink="/admin/user">Users</a>
          </div>
        </div>
      }
    </div>

    <div class="flex items-center space-x-4 ml-auto">
      <instance-selector *ngIf="isAuthenticated.value()"/>
      <profile-dropdown *ngIf="isAuthenticated.value()"/>
    </div>
  </header>

  <main class="flex-1">
    <router-outlet/>
  </main>
</div>
