@if (instance.isLoading()) {
  <p>Loading...</p>
} @else if (!instance.value()) {
  <p>Unknown instance value</p>
} @else {
  @let instanceValue = instance.value()!;

  <p class="font-bold">Name</p>
  <p>{{ instanceValue.name }}</p>

  <p class="font-bold mt-4">Description</p>
  <p>{{ instanceValue.description }}</p>

  <p class="font-bold mt-4">Created</p>
  <p>{{ instanceValue.createdAt | date:'mediumDate' }}</p>

  <h1 class="mt-4 font-bold">Users</h1>
  <p-table [value]="instanceValue.users">
    <ng-template #header>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </ng-template>
    <ng-template #body let-instanceUser>
      <tr>
        <td>{{ toUserFullName(instanceUser.user) }}</td>
        <td>{{ instanceUser.user.email }}</td>
      </tr>
    </ng-template>
  </p-table>
}
