<div class="h-full w-full container mx-auto flex flex-col lg:w-4/7">
  <instance-page-header-section [canGoBack]="true"/>
  @if (instance.isLoading()) {
    <loading-spinner/>
  } @else if (!instance.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let instanceValue = instance.value()!;
    <card>
      <p card-header>Instance</p>
      <p card-subHeader>Preview of this unique instance.</p>
      <div card-body class="flex flex-col gap-4">
        <card>
          <p card-header>Details</p>
          <p card-subHeader>Details of this specific instance.</p>
          <div card-body class="flex flex-col gap-2">
            <div class="flex flex-row gap-2">
              <p class="font-semibold">ID</p>
              <p>{{ instanceValue.id }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Name</p>
              <p>{{ instanceValue.name }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Description</p>
              <p>{{ instanceValue.description }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Created</p>
              <p>{{ instanceValue.createdAt | date:'mediumDate' }}</p>
            </div>
          </div>
        </card>
        <card>
          <p card-header>Users</p>
          <p card-subHeader>Users within this specific instance.</p>
          <div card-body>
            <p-table [value]="instanceValue.users" paginatorDropdownAppendTo="body" [paginator]="true" [rows]="10"
                     [rowsPerPageOptions]="[10, 20, 50]">
              <ng-template #header>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Permissions</th>
                  <th>Data Entries Created</th>
                </tr>
              </ng-template>
              <ng-template #body let-instanceUser>
                <tr>
                  <td>{{ toUserFullName(instanceUser.user) }}</td>
                  <td>{{ instanceUser.user.email }}</td>
                  <td>
                    <badge-contrasted [value]="getPermissionsCount(instanceUser.id) + ' / ' + permissionsCount"/>
                  </td>
                  <td>
                    <badge-contrasted [value]="(getDataEntriesCreated(instanceUser.userId) | async) ?? 0"/>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </card>
      </div>
    </card>
  }
</div>
