<form [formGroup]="form" class="w-fit p-4 space-y-4 dark:bg-surface-950 bg-surface-50 rounded-lg shadow">
  <messages-showcase [messages]="messages()"/>

  <div class="flex flex-col justify-center">
    <label class="block text-sm font-medium">Report Type</label>
    <p-select [options]="reportTypes" optionLabel="label" optionValue="id" placeholder="Select report type" appendTo="body"
              [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}"/>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <label class="block text-sm font-medium">From</label>
      <p-datepicker inputId="from" formControlName="from" [showIcon]="true" variant="filled"
                    inputStyleClass="p-2 rounded-md dark:bg-surface-950! bg-primary-50!" class="mt-1 block"
                    styleClass="w-full" appendTo="body"/>
      <form-input-error [control]="form.controls.from"/>
    </div>

    <div>
      <label class="block text-sm font-medium">To</label>
      <p-datepicker inputId="to" formControlName="to" [showIcon]="true" variant="filled"
                    inputStyleClass="p-2 rounded-md dark:bg-surface-950! bg-primary-50!" class="mt-1 block"
                    styleClass="w-full" appendTo="body"/>
      <form-input-error [control]="form.controls.to"/>
    </div>
  </div>

  <div *ngIf="selectedType() === 1" formGroupName="dataEntry">
    <label class="block text-sm font-medium">Template</label>
    <p-select [options]="reportTemplates.value()" optionLabel="label" optionValue="id" placeholder="Select template"
              appendTo="body" formControlName="templateId"/>
  </div>

  <div *ngIf="selectedType() === 2" formGroupName="sale" class="space-y-4">
    <div>
      <label class="block text-sm font-medium">Customer</label>
      <p-select [options]="customers.value()" optionLabel="label" optionValue="id" placeholder="Select customer" appendTo="body"
                formControlName="customerId"/>
    </div>

    <div>
      <label class="block text-sm font-medium">Salesman</label>
      <p-select [options]="salesmen.value()" optionLabel="label" optionValue="id" placeholder="Select salesman" appendTo="body"
                formControlName="salesmanId"/>
    </div>
  </div>

  <div class="block">
    <form-input-error [control]="form" [customErrorMessages]="customErrorMessages"/>
  </div>
  <p-button label="Generate" type="submit" (click)="generate()" [disabled]="form.invalid || !form.dirty"/>
</form>
