<section class="container flex flex-col items-start gap-1 py-8 md:py-10 lg:py-12">
  <h1 class="text-2xl font-bold leading-tight tracking-tighter sm:text-3xl md:text-4xl lg:leading-[1.1]">
    Data Entries
  </h1>
  <p class="max-w-2xl text-base font-light text-foreground sm:text-lg">
    Data entries represent instances of data type structures. Each data entry is associated with a specific data type
    and contains values for each field defined in that data type. You can create, edit, and delete data entries as needed.
  </p>
  @if (canGoBack()) {
    <button-go-back/>
  }
</section>
