<div class="h-full w-full relative container mx-auto flex flex-col mb-8">
  <customer-page-header-section [canGoBack]="true"/>
  @if (customer.isLoading()) {
    <loading-spinner/>
  } @else if (!customer.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let customer = this.customer.value()!;
    <card>
      <p card-header>Customer</p>
      <p card-subHeader>Preview of this unique customer entry.</p>
      <card card-body>
        <p card-header>Details</p>
        <p card-subHeader>Details of this specific customer.</p>
        <div card-body class="flex flex-col gap-4">
          <div class="flex flex-col">
            <div class="flex flex-row gap-2">
              <p class="font-semibold">ID</p>
              <p>{{ customer.id }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">First Name</p>
              <p>{{ customer.firstName }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Last Name</p>
              <p>{{ customer.lastName }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Email</p>
              <p>{{ customer.email }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Birthdate</p>
              <p>{{ customer.birthdate | date:'mediumDate' }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Residence Country</p>
              <p>{{ getIsoCountryLabel(customer.residenceCountry) }}</p>
            </div>
          </div>

          <card>
            <p card-header>Identity Document</p>
            <p card-subHeader>ID details of this specific customer.</p>
            <div card-body>
              <div class="flex flex-row gap-2">
                <p class="font-semibold">Document Type</p>
                <p>{{ getIdentityDocumentTypeLabel(customer.identityDocument!.type) }}</p>
              </div>
              <div class="flex flex-row gap-2">
                <p class="font-semibold">Document Number</p>
                <p>{{ customer.identityDocument!.number }}</p>
              </div>
              <div class="flex flex-row gap-2">
                <p class="font-semibold">Document Issued By</p>
                <p>{{ getCountryName(customer.identityDocument!.issuedBy) }}</p>
              </div>
              <div class="flex flex-row gap-2">
                <p class="font-semibold">Personal Code</p>
                <p>{{ customer.identityDocument!.value || "Unprovided" }}</p>
              </div>
            </div>
          </card>
          @if (customer.otherDocuments.length > 0) {
            <card>
              <p card-header>Other Documents</p>
              <p card-subHeader>These documents help customs determine whether customer's residence is not within EU
                country.</p>
              <div card-body>
                <p-table [value]="customer.otherDocuments"                          paginatorDropdownAppendTo="body"

                         [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]">
                  <ng-template #header>
                    <tr>
                      <th>Issued By</th>
                      <th>Type</th>
                      <th>Number</th>
                    </tr>
                  </ng-template>
                  <ng-template #body let-otherDocument>
                    <tr>
                      <td>{{ getCountryName(otherDocument.issuedBy) }}</td>
                      <td>{{ otherDocument.type }}</td>
                      <td>{{ otherDocument.value }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </card>
          }
        </div>
      </card>
    </card>
  }
</div>
