<div class="flex items-center justify-center mt-48">
  <div class="w-full max-w-md p-6 dark:bg-surface-950 bg-surface-50 rounded-lg shadow-md">
    @if (isTokenProvided.isLoading()) {
      <div class="flex items-center justify-center">
        <p-progress-spinner/>
      </div>
    } @else if (!isTokenProvided.value()) {
      <div>
        <h2 class="text-xl font-semibold text-red-600">Malfunctioned URL</h2>
        <p class="mt-2">The link you used is invalid or missing a token. Please check the URL and try again.</p>
      </div>
    } @else {
      <h2 class="text-xl font-semibold">Reset Password</h2>

      <messages-showcase [messages]="messages()"/>

      <form [formGroup]="form" (ngSubmit)="changePassword()" class="mt-4">
        <div class="mb-4">
          <label for="password" class="block text-sm font-medium">Password</label>

          <p-password
            inputStyleClass="w-full"
            styleClass="w-full"
            class="mt-1 block w-full!"
            toggleMask="true"
            feedback="false"
            id="password"
            formControlName="password"
            placeholder="Enter your new password"
          />

          @if (getErrorMessage('password'); as passwordInvalid) {
            <div class="text-xs text-red-500 mt-1">
              {{ passwordInvalid }}
            </div>
          }
        </div>

        <div class="mb-4">
          <label for="confirmPassword" class="block text-sm font-medium">Confirm Password</label>

          <p-password
            inputStyleClass="w-full"
            styleClass="w-full"
            class="mt-1 block w-full!"
            toggleMask="true"
            feedback="false"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirm your new password"
          />

          @if (getErrorMessage('confirmPassword'); as confirmPasswordInvalid) {
            <div class="text-xs text-red-500 mt-1">
              {{ confirmPasswordInvalid }}
            </div>
          }
        </div>

        <div class="flex justify-between mt-6">
          <p-button
            label="Go to Login"
            type="button"
            routerLink="../login"
          />

          @if (isTokenProvided.value()) {
            <p-button
              label="Change Password"
              type="button"
              (onClick)="changePassword()"
              [disabled]="form.invalid || !form.dirty"
            />
          }
        </div>
      </form>
    }
  </div>
</div>
