<div class="h-screen w-screen flex justify-center items-center">
  @if (isTokenProvided.isLoading()) {
    <loading-spinner/>
  } @else {
    <div
      class="max-w-xl w-full dark:bg-primary-950 bg-primary-50 shadow-2xl shadow-primary-800/80 dark:shadow-primary-50 rounded-3xl p-8 gap-2">
      @if (!isTokenProvided.value()) {
        <h2 class="text-xl font-semibold text-red-600">Malfunctioned URL</h2>
        <p>The link you used is invalid or missing a token. Please check the URL and try again.</p>
      } @else {
        <h2 class="text-xl font-semibold">Reset Password</h2>
        <p>Please provide your new password. The link you used is valid for 10 minutes.</p>
        <form [formGroup]="form" (ngSubmit)="changePassword()" class="flex flex-col gap-4 mt-8">
          <!-- Password -->
          <div class="w-full">
            <p-floatlabel variant="on" class="w-full">
              <p-iconfield>
                <p-inputicon class="pi pi-lock"/>
                <p-password id="password" formControlName="password" inputStyleClass="pl-10! w-full!"
                            toggleMask="true" feedback="false" styleClass="w-full"/>
              </p-iconfield>
              <label for="password">Password</label>
            </p-floatlabel>
            <form-input-error [control]="form.controls.password"/>
          </div>

          <!-- Confirm Password -->
          <div class="w-full">
            <p-floatlabel variant="on" class="w-full">
              <p-iconfield>
                <p-inputicon class="pi pi-lock"/>
                <p-password id="confirmPassword" formControlName="confirmPassword" inputStyleClass="pl-10! w-full!"
                            toggleMask="true" feedback="false" styleClass="w-full"/>
              </p-iconfield>
              <label for="confirmPassword">Confirm Password</label>
            </p-floatlabel>
            <form-input-error [control]="form.controls.confirmPassword" [customErrorMessages]="customErrorMessages"/>
          </div>

          <div class="flex flex-col gap-2">
            @if (isTokenProvided.value()) {
              <messages-showcase [messages]="messages()"/>
              <p-button title="Submit" size="small" label="Change Password" type="submit" (onClick)="changePassword()"
                        [disabled]="form.invalid || !form.dirty" styleClass="w-full" class="w-full"/>
            }
            <p-button title="Login" size="small" label="Go to Login" type="button" routerLink="../login"
                      styleClass="w-full" class="w-full"/>
          </div>
        </form>
      }
    </div>
  }
</div>
