<card class="w-fit!">
  @let role = user()!.role;
  <p card-header>Profile</p>
  <div card-subHeader class="flex flex-col">
    <div class="flex flex-row gap-0.5">
      <p class="font-semibold">You are an </p>
      <p-badge [value]="toRoleLabel(role)" [severity]="role === Role.Admin ? 'danger' : 'info'" size="small"/>
      <p>.</p>
    </div>
  </div>
  <div card-body>
    <div class="flex flex-col w-fit gap-4">
      <profile-management [user]="user()!"/>
      <profile-change-password-form [user]="user()!"/>
    </div>
  </div>
</card>
