<div class="mt-4 flex flex-col justify-center items-center">
  <h1 class="text-2xl font-bold mb-4">Import Configuration</h1>

  <ng-container *ngIf="configuration.hasValue()">
    @let value = configuration.value()!;

    <p-card
      class="mb-4 min-w-256"
      styleClass="p-2"
    >
      <ng-template pTemplate="header">
        <h2 class="text-lg font-bold">{{ value.name }}</h2>
      </ng-template>
      <div>
        <p><strong>Data Type:</strong> {{ value.dataType.name }}</p>
      </div>
    </p-card>

    <p-card
      class="min-w-256"
      styleClass="p-2"
    >
      <ng-template pTemplate="header">
        <h3 class="text-lg font-semibold">Fields</h3>
      </ng-template>
      <p-table
        [value]="value.fields"
        class="mt-4"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="text-left">Field Name</th>
            <th class="text-left">Order</th>
            <th class="text-left">Default Value</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-field
        >
          @let dataTypeField = resolveDataTypeField(field);
          <tr>
            <td>{{ dataTypeField.name }}</td>
            <td>{{ field.order }}</td>
            <td>
              <data-type-entry-field-display
                [dataType]="value.dataType"
                [dataTypeFieldId]="dataTypeField.id"
                [value]="field.defaultValue"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </ng-container>
</div>
