<div class="h-full w-full relative container mx-auto flex flex-col mb-8">
  <import-configuration-page-header-section [canGoBack]="canGoBack()"/>
  <confirmation key="import-configuration-delete-confirmation"
                header="Are you sure about deleting this import configuration?"/>
  <messages-showcase [messages]="messages()"/>
  <div class="card mt-4">
    @if (!instanceId()) {
      <messages-showcase [messages]="{warning: ['Please select an instance to manage import configurations.']}"/>
    } @else {
      <p-button label="Create" type="button" (onClick)="manage()"/>
    }

    <p-table styleClass="w-fit shadow-lg mt-2 dark:bg-primary-950! bg-primary-50!"
             paginatorStyleClass="dark:bg-primary-950! bg-primary-50!"
             [value]="configurations.hasValue() ? configurations.value()! : []" [paginator]="true" [rows]="10"
             [rowsPerPageOptions]="[10, 20, 50]">
      <ng-template #header>
        <tr>
          <th>Name</th>
          <th>Data Type</th>
          <th>Fields</th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template #body let-configuration>
        <tr>
          <td>{{ configuration.name }}</td>
          <td>{{ configuration.dataType.name }}</td>
          <td>{{ configuration.fields.length }} fields</td>
          <td class="flex items-center">
            <p-button icon="pi pi-eye" type="button" variant="text" (onClick)="preview(configuration)"/>
            <p-button icon="pi pi-pencil" type="button" variant="text" (onClick)="manage(configuration)"/>
            <p-button icon="pi pi-trash" type="button" variant="text" (onClick)="delete(configuration)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
