<div class="w-full flex flex-col gap-4" [formGroup]="form">
  <div *ngIf="importedEntries().length">
    <data-entry-table [dataEntries]="importedEntries()" [dataType]="dataType()" [instanceId]="instanceId()"/>
  </div>

  <!-- Configuration -->
  <div>
    <p-floatlabel variant="on" class="w-60">
      <p-select formControlName="importConfigurationId" [options]="importConfigurations.value()" optionLabel="label"
                optionValue="id" appendTo="body" class="w-full"/>
      <label for="importConfigurationId">{{ 'component.data-entry-import-form.input.import-configuration' | translate }}</label>
    </p-floatlabel>
    <form-input-error [control]="form.controls.importConfigurationId"/>
  </div>

  <!-- File -->
  <div class="flex flex-col gap-1">
    <label for="file" class="block text-sm font-medium">{{ 'component.data-entry-import-form.input.file' | translate }}</label>
    <div class="flex flex-col w-fit justify-start gap-1">
      <p *ngIf="form.value.file">
          <span class="text-sm dark:text-primary-50 text-primary-900">
            {{ form.value.file.name }} ({{ getSelectedFileSize() }})
          </span>
      </p>
      <p-fileupload styleClass="flex flex-col items-start!" accept=".csv, .xlsx, .xls, .xlsb" name="file" mode="basic"
                    [chooseButtonProps]="{size: 'small'}" auto="true" (onSelect)="onSelect($event.currentFiles)"
                    chooseIcon="pi pi-upload"/>
    </div>
  </div>

  <div class="flex flex-col gap-1">
    <label for="skipHeader"
           class="block text-sm font-medium">{{ 'component.data-entry-import-form.input.skip-header' | translate }}</label>
    <p-checkbox formControlName="skipHeader" inputId="skipHeader" binary/>
  </div>

  <messages-showcase [messages]="messages()"/>
  <p-button [title]="'component.data-entry-import-form.button.import' | translate" size="small"
            [label]="'component.data-entry-import-form.button.import' | translate" [disabled]="form.invalid || !form.dirty"
            (onClick)="import()"/>
</div>
