<div class="h-full w-full relative container mx-auto flex flex-col">
  <customer-page-header-section [canGoBack]="true"/>
  @if (customer.isLoading()) {
    <loading-spinner/>
  } @else if (customerId() && !customer.value()) {
    <failed-to-load-please-reload/>
  } @else {
    <card>
      <p card-header>{{ 'page.customer-management.title' | translate }}</p>
      <p card-subHeader>{{ 'page.customer-management.description' | translate }}</p>
      <form [formGroup]="form" card-body class="flex flex-col gap-4">
        <card>
          <p card-header>{{ 'page.customer-management.details.title' | translate }}</p>
          <p card-subHeader>{{ 'page.customer-management.details.description' | translate }}</p>
          <div card-body class="flex flex-wrap gap-4">
            <!-- First Name -->
            <div>
              <p-floatlabel variant="on" class="w-60">
                <p-iconfield>
                  <p-inputicon class="pi pi-tag"/>
                  <input pInputText class="w-60" id="firstName" formControlName="firstName" type="text"/>
                </p-iconfield>
                <label for="firstName">{{ 'page.customer-management.details.input.first-name' | translate }}</label>
              </p-floatlabel>
              <form-input-error [control]="form.controls.firstName"/>
            </div>

            <!-- Last Name -->
            <div>
              <p-floatlabel variant="on" class="w-60">
                <p-iconfield>
                  <p-inputicon class="pi pi-tag"/>
                  <input pInputText class="w-60" id="lastName" formControlName="lastName" type="text"/>
                </p-iconfield>
                <label for="lastName">{{ 'page.customer-management.details.input.last-name' | translate }}</label>
              </p-floatlabel>
              <form-input-error [control]="form.controls.lastName"/>
            </div>

            <!-- Email -->
            <div>
              <p-floatlabel variant="on" class="w-60">
                <p-iconfield>
                  <p-inputicon class="pi pi-envelope"/>
                  <input pInputText class="w-60" id="email" formControlName="email" type="email"/>
                </p-iconfield>
                <label for="email">{{ 'page.customer-management.details.input.email' | translate }}</label>
              </p-floatlabel>
              <form-input-error [control]="form.controls.email"/>
            </div>

            <!-- Birthdate -->
            <div>
              <p-float-label variant="on" class="w-fit">
                <p-date-picker icon="pi pi-calendar" iconDisplay="input" showIcon formControlName="birthdate"
                               styleClass="w-full" inputId="birthdate" appendTo="body"/>
                <label for="birthdate">{{ 'page.customer-management.details.input.birthdate' | translate }}</label>
              </p-float-label>
              <form-input-error [control]="form.controls.birthdate"/>
            </div>

            <!-- Residence Country -->
            <div>
              <p-float-label variant="on" class="w-60">
                <p-select dropdownIcon="pi pi-globe" [options]="IsoCountries" formControlName="residenceCountry"
                          optionLabel="name" optionValue="code" styleClass="w-full" appendTo="body"/>
                <label for="residenceCountry">{{ 'page.customer-management.details.input.residence-country' | translate }}</label>
              </p-float-label>
              <form-input-error [control]="form.controls.residenceCountry"/>
            </div>
          </div>
        </card>

        <!-- ID -->
        <card>
          <p card-header>{{ 'page.customer-management.identity-document.title' | translate }}</p>
          <p card-subHeader>{{ 'page.customer-management.identity-document.description' | translate }}</p>
          <div card-body formGroupName="identityDocument" class="flex flex-wrap gap-4">
            <!-- ID Type -->
            <div>
              <p-float-label variant="on" class="w-60">
                <p-select dropdownIcon="pi pi-objects-column" [options]="identityDocumentTypes" formControlName="type"
                          optionLabel="label" optionValue="value" styleClass="w-full" appendTo="body"/>
                <label for="type">{{ 'page.customer-management.identity-document.input.type' | translate }}</label>
              </p-float-label>
              <form-input-error [control]="form.controls.identityDocument.controls.type"/>
            </div>

            <!-- ID Issued By -->
            <div>
              <p-float-label variant="on" class="w-60">
                <p-select dropdownIcon="pi pi-globe" [options]="IsoCountries" formControlName="issuedBy"
                          optionLabel="name" optionValue="code" styleClass="w-full" appendTo="body"/>
                <label for="issuedBy">{{ 'page.customer-management.identity-document.input.issued-by' | translate }}</label>
              </p-float-label>
              <form-input-error [control]="form.controls.identityDocument.controls.issuedBy"/>
            </div>

            <!-- ID Number -->
            <div>
              <p-float-label variant="on" class="w-60">
                <p-iconfield>
                  <p-inputicon class="pi pi-hashtag"/>
                  <input pInputText class="w-60" formControlName="number" type="text" id="number"/>
                </p-iconfield>
                <label for="number">{{ 'page.customer-management.identity-document.input.number' | translate }}</label>
              </p-float-label>
              <form-input-error [control]="form.controls.identityDocument.controls.number"/>
            </div>

            <!-- ID Value -->
            <div>
              <p-float-label variant="on" class="w-60">
                <p-iconfield>
                  <p-inputicon class="pi pi-code"/>
                  <input pInputText class="w-60" formControlName="value" type="text" id="value"/>
                </p-iconfield>
                <label for="value">{{ 'page.customer-management.identity-document.input.value' | translate }}</label>
              </p-float-label>
              <form-input-error [control]="form.controls.identityDocument.controls.value"/>
            </div>
          </div>
        </card>

        <!-- Other Documents  -->
        <card>
          <p card-header>{{ 'page.customer-management.other-documents.title' | translate }}</p>
          <p card-subHeader>{{ 'page.customer-management.other-documents.description' | translate }}</p>
          <div card-body formArrayName="otherDocuments" class="flex flex-col gap-4">
            @for (control of form.controls.otherDocuments.controls; track $index; let i = $index) {
              <div [formGroupName]="i">
                <div class="flex flex-wrap gap-4">
                  <!-- Other ID Issued By -->
                  <div>
                    <p-float-label variant="on" class="w-60">
                      <p-select dropdownIcon="pi pi-globe" [options]="IsoCountries" formControlName="issuedBy"
                                optionLabel="name" optionValue="code" styleClass="w-full" appendTo="body"/>
                      <label for="issuedBy">{{ 'page.customer-management.other-documents.input.issued-by' | translate }}</label>
                    </p-float-label>
                    <form-input-error [control]="control.controls.issuedBy"/>
                  </div>

                  <!-- Other ID Type -->
                  <div>
                    <p-float-label variant="on" class="w-60">
                      <p-iconfield>
                        <p-inputicon class="pi pi-objects-column"/>
                        <input pInputText class="w-60" formControlName="type" type="text" id="type"/>
                      </p-iconfield>
                      <label for="type">{{ 'page.customer-management.other-documents.input.type' | translate }}</label>
                    </p-float-label>
                    <form-input-error [control]="control.controls.type"/>
                  </div>

                  <!-- Other ID Value -->
                  <div>
                    <p-float-label variant="on" class="w-60">
                      <p-iconfield>
                        <p-inputicon class="pi pi-code"/>
                        <input pInputText class="w-60" formControlName="value" type="text" id="value"/>
                      </p-iconfield>
                      <label for="value">{{ 'page.customer-management.other-documents.input.value' | translate }}</label>
                    </p-float-label>
                    <form-input-error [control]="control.controls.value"/>
                  </div>

                  <!-- Remove Other ID Button -->
                  <div class="flex items-start">
                    <p-button [title]="'page.customer-management.other-documents.button.remove' | translate" icon="pi pi-trash"
                              variant="text" (onClick)="removeOtherDocument(i)"/>
                  </div>
                </div>
              </div>
            }
            <!-- Add Other ID Button -->
            <div class="mt-4">
              <p-button [title]="'page.customer-management.other-documents.button.add' | translate" size="small"
                        [label]="'page.customer-management.other-documents.button.add' | translate"
                        (onClick)="addOtherDocument()"/>
            </div>
          </div>
        </card>
        <messages-showcase [messages]="messages()"/>
        <p-button [title]="'page.customer-management.button.submit' | translate" size="small"
                  [label]="('page.customer-management.button.' + (!customerId() ? 'create' : 'save')) | translate"
                  [disabled]="form.invalid || !form.dirty" (onClick)="save()" type="submit"/>
      </form>
    </card>
  }
</div>
