<p-dialog
  header="Customer Preview"
  closable="true"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  (close)="hide()"
  (onHide)="hide()"
  [(visible)]="isShown"
  *ngIf="customer() != null"
>
  <p class="font-bold">First Name</p>
  <p>{{ customer()!.firstName }}</p>

  <p class="font-bold mt-4">Last Name</p>
  <p>{{ customer()!.lastName }}</p>

  <p class="font-bold mt-4">Birthdate</p>
  <p>{{ customer()!.birthdate | date:'mediumDate' }}</p>

  <p class="font-bold mt-4">Residence Country</p>
  <p>{{ getIsoCountryLabel(customer()!.residenceCountry) }}</p>

  <p class="font-bold mt-4">Identity Document</p>
  <p>Issued By: {{ getCountryName(customer()!.identityDocument!.issuedBy) }}</p>
  <p>Type: {{ getIdentityDocumentTypeLabel(customer()!.identityDocument!.type) }}</p>
  <p>Number: {{ customer()!.identityDocument!.number }}</p>
  <p>Personal Code: {{ customer()!.identityDocument!.value || "Unprovided" }}</p>

  <ng-container *ngIf="customer()!.otherDocuments.length">
    <p class="font-bold mt-4">Other Documents</p>
    <p-table [value]="customer()!.otherDocuments">
      <ng-template pTemplate="header">
        <tr>
          <th>Issued By</th>
          <th>Type</th>
          <th>Number</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-otherDocument>
        <tr>
          <td>{{ getCountryName(otherDocument.issuedBy) }}</td>
          <td>{{ otherDocument.type }}</td>
          <td>{{ otherDocument.value }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>

  <div class="flex justify-end mt-4">
    <p-button
      label="Close"
      class="p-button-secondary"
      (onClick)="hide()"
    ></p-button>
  </div>
</p-dialog>
