<h2 class="text-2xl font-bold mb-4">Register</h2>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <!-- Display messages if any -->
  <messages-showcase [messages]="messages()"/>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- Email -->
    <div class="form-field">
      <label for="email" class="block text-sm font-medium">Email</label>
      <input type="email" id="email" formControlName="email" pInputText class="mt-1 block w-full"/>
      <form-input-error [control]="registerForm.controls.email"/>
    </div>

    <!-- Birth Date -->
    <div class="form-field">
      <label for="birthDate" class="block text-sm font-medium">Birthdate</label>
      <p-datepicker inputId="birthDate" formControlName="birthDate" [showIcon]="true" variant="filled"
                    inputStyleClass="p-2 rounded-md dark:bg-surface-950! bg-white!"
                    class="mt-1 block w-full rounded-md"/>
      <form-input-error [control]="registerForm.controls.birthDate"/>
    </div>

    <!-- Password -->
    <div class="form-field">
      <label for="password" class="block text-sm font-medium">Password</label>
      <p-password id="password" formControlName="password" class="mt-1 block w-full!" inputStyleClass="w-full"
                  styleClass="w-full" toggleMask="true" feedback="false"/>
      <form-input-error [control]="registerForm.controls.password"/>
    </div>

    <!-- Confirm Password -->
    <div class="form-field">
      <label for="confirmPassword" class="block text-sm font-medium">Confirm Password</label>
      <p-password id="confirmPassword" formControlName="confirmPassword" class="mt-1 block w-full!"
                  inputStyleClass="w-full" styleClass="w-full" toggleMask="true" feedback="false"/>
      <form-input-error [control]="registerForm.controls.confirmPassword" [customErrorMessages]="customErrorsMessages"/>
    </div>

    <!-- First Name -->
    <div class="form-field">
      <label for="firstName" class="block text-sm font-medium">First Name</label>
      <input type="text" id="firstName" formControlName="firstName" pInputText class="mt-1 block w-full"/>
      <form-input-error [control]="registerForm.controls.firstName"/>
    </div>

    <!-- Last Name -->
    <div class="form-field">
      <label for="lastName" class="block text-sm font-medium">Last Name</label>
      <input type="text" id="lastName" formControlName="lastName" pInputText class="mt-1 block w-full"/>
      <form-input-error [control]="registerForm.controls.lastName"/>
    </div>

    <!-- Country Dropdown -->
    <div class="form-field">
      <label for="country" class="block text-sm font-medium">Country</label>
      <p-autocomplete id="country" formControlName="country" optionLabel="name" placeholder="Select a country"
                      [dropdown]="true" [suggestions]="filteredCountries()" (completeMethod)="filterCountries($event)"
                      class="mt-1 block w-full"/>
      <form-input-error [control]="registerForm.controls.country"/>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-center">
    <p-button type="submit" label="Register" icon="pi pi-check" iconPos="right" [loading]="isSubmitting()"
              [disabled]="registerForm.invalid"/>
  </div>
</form>

<p class="mt-4 text-sm text-center">Already have an account?</p>

<p class="text-center">
  <a routerLink="/auth/login" class="dark:text-indigo-400 text-indigo-600 hover:underline">Login here</a>
</p>
