<div class="h-full w-full relative container mx-auto flex flex-col">
  <report-template-page-header-section [canGoBack]="true"/>
  @if (template.isLoading()) {
    <loading-spinner/>
  } @else if (!template.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let template = this.template.value()!;
    <card>
      <p card-header>{{ ('page.report-template-preview.title' | translate:{ name: template.name }) }}</p>
      <p card-subHeader>{{ 'page.report-template-preview.description' | translate }}</p>
      <div card-body class="flex flex-col gap-4">
        <card>
          <p card-header>{{ 'page.report-template-preview.details.title' | translate }}</p>
          <p card-subHeader>{{ 'page.report-template-preview.details.description' | translate }}</p>
          <div card-body class="flex flex-col">
            <div class="flex flex-row gap-2">
              <p class="font-semibold">{{ 'page.report-template-preview.details.label.id' | translate }}</p>
              <p>{{ template.id }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">{{ 'page.report-template-preview.details.label.name' | translate }}</p>
              <p>{{ template.name }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">{{ 'page.report-template-preview.details.label.data-type' | translate }}</p>
              <p>{{ getDataTypeName(template) | async }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">{{ 'page.report-template-preview.details.label.fields' | translate }}</p>
              <p>{{ template.fields.length }} field(s)</p>
            </div>
          </div>
        </card>
        <card>
          <p card-header>{{ 'page.report-template-preview.fields.title' | translate }}</p>
          <p card-subHeader>{{ 'page.report-template-preview.fields.description' | translate }}</p>
          <div card-body class="flex flex-wrap gap-4">
            @for (field of template.fields; track field.id) {
              <p-badge [value]="field.name" severity="contrast"/>
            }
          </div>
        </card>
      </div>
    </card>
  }
</div>
