<p-dialog
  header="Instance Management"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  closable="true"
  [(visible)]="isShown"
  (onHide)="hide()"
  (close)="hide()"
>
  <div class="min-w-128">
    <div class="mb-2">
      <app-messages-showcase [messages]="messages()"/>
    </div>

    <div
      class="grid grid-cols-1 gap-4"
      [formGroup]="form"
    >
      <div>
        <label
          for="name"
          class="block text-sm font-medium text-gray-700"
        >Name</label>
        <input
          formControlName="name"
          pInputText
          type="text"
          id="name"
          class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        />
        @if (getErrorMessage("name"); as error) {
          <div class="text-xs text-red-500 mt-1">{{ error }}</div>
        }
      </div>

      <div>
        <label
          for="description"
          class="block text-sm font-medium text-gray-700"
        >Description</label>
        <textarea
          formControlName="description"
          pTextarea
          id="description"
          class="mt-1 p-2 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
        ></textarea>
        @if (getErrorMessage("description"); as error) {
          <div class="text-xs text-red-500 mt-1">{{ error }}</div>
        }
      </div>

      <div>
        <label
          for="users"
          class="block text-l font-bold text-gray-700"
        >Users</label>

        <p-table
          [value]="formUsers().controls"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user let-i="rowIndex">
            <tr>
              <td>{{ user.value.email }}</td>
              <td>{{ user.value.name }}</td>
              <td>
                <p-button
                  [disabled]="user.value.isOwnerOrSelf"
                  variant="text"
                  icon="pi pi-trash"
                  (onClick)="removeUser(i)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <app-messages-showcase [messages]="messagesUserMetas()"/>

      <div
        [formGroup]="formUser"
        class="flex flex-row gap-x-4 mt-1 max-w-96"
      >
        <div class="flex flex-col">
          <input
            formControlName="email"
            placeholder="Enter email..."
            pInputText
            type="email"
            id="email"
            class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          />
          @if (getUserEmailErrorMessage(); as error) {
            <div class="text-xs text-red-500 mt-1">{{ error }}</div>
          }
        </div>

        <p-button
          class="mt-1"
          label="Add user"
          [disabled]="formUser.invalid || !formUser.valid"
          (onClick)="addUser()"
        ></p-button>
      </div>
    </div>

    <div class="flex justify-end mt-4">
      <p-button
        [label]="instance() == null ? 'Create' : 'Save'"
        [disabled]="!form.valid || !form.dirty"
        (onClick)="save()"
      ></p-button>
    </div>
  </div>
</p-dialog>
