<p-dialog
  header="Data Entry Management"
  closeOnEscape="true"
  modal="true"
  styleClass="min-w-128"
  closable="true"
  [(visible)]="isShown"
  (onHide)="hide()"
  (close)="hide()"
>
  <div class="min-w-128">
    <app-messages-showcase [messages]="messages()"/>

    <div
      class="grid grid-cols-1 gap-4"
      [formGroup]="form"
    >
      @for (field of formFields; track $index) {
        <div>
          <label
            [for]="field.field"
            class="block text-sm font-medium"
          >{{ field.field }}</label>

          @switch (field.type) {
            @case (FieldType.Check) {
              <p-check-box
                [formControl]="field.control"
                [id]="field.field"
                binary="true"
              />
            }
            @case (FieldType.Date) {
              <p-datepicker
                [formControl]="field.control"
                [id]="field.field"
                appendTo="body"
              />
            }
            @default {
              <input
                [formControl]="field.control"
                pInputText
                [defaultValue]="field.type === FieldType.Number ? 0 : ''"
                [type]="field.type"
                [id]="field.field"
              />
            }
          }

          @if (getErrorMessage(field.field); as error) {
            <div class="text-xs text-red-500 mt-1">{{ error }}</div>
          }
        </div>
      }
    </div>

    <div class="flex justify-end mt-4">
      <p-button
        [label]="dataEntry() == null ? 'Create' : 'Save'"
        [disabled]="!form.valid || !form.dirty"
        (onClick)="save()"
      ></p-button>
    </div>
  </div>
</p-dialog>
