<div>
  <div class="mb-2">
    <app-messages-showcase [messages]="messages()"></app-messages-showcase>
  </div>

  <div [formGroup]="form">
    <label
      for="affirmation"
      class="block text-sm font-medium text-gray-700"
    >
      Affirmation
    </label>

    <p-checkbox
      binary="true"
      formControlName="affirmation"
      id="affirmation"
      class="mt-1 block w-fit"
    />
  </div>

  <div class="flex justify-end mt-4">
    <p-button
      label="Submit"
      [disabled]="!form.valid || !form.dirty"
      (onClick)="save()"
    ></p-button>
  </div>
</div>
