<p-table [value]="payments()" class="w-fit">
  <ng-template #header>
    <tr>
      <th class="text-left p-2">{{ 'component.vat-return-payment-table.header.date' | translate }}</th>
      <th class="text-left p-2">{{ 'component.vat-return-payment-table.header.type' | translate }}</th>
      <th class="text-left p-2">{{ 'component.vat-return-payment-table.header.amount' | translate }}</th>
    </tr>
  </ng-template>
  <ng-template #body let-payment>
    <tr>
      <td class="p-2">{{ payment.date | date:'medium' }}</td>
      <td class="p-2">{{ toPaymentTypeLabel(payment.type) | translate }}</td>
      <td class="p-2"><p class="text-right">{{ payment.amount | currency:'EUR':'symbol':'1.2-2' }}</p></td>
    </tr>
  </ng-template>
</p-table>
