<p-table [value]="payments()" class="w-fit">
  <ng-template #header>
    <tr>
      <th class="text-left p-2">Payment Date</th>
      <th class="text-left p-2">Payment Type</th>
      <th class="text-left p-2">Amount</th>
    </tr>
  </ng-template>
  <ng-template #body let-payment>
    <tr>
      <td class="p-2">{{ payment.date | date:'medium' }}</td>
      <td class="p-2">{{ toPaymentTypeLabel(payment.type) }}</td>
      <td class="p-2"><p class="text-right">{{ payment.amount | currency:'EUR':'symbol':'1.2-2' }}</p></td>
    </tr>
  </ng-template>
</p-table>
