<div class="h-full w-full relative container mx-auto flex flex-col">
  <sale-page-header-section [canGoBack]="true"/>
  @if (sale.isLoading()) {
    <loading-spinner/>
  } @else if (saleId() && !sale.value()) {
    <failed-to-load-please-reload/>
  } @else {
    <card>
      <p card-header>{{ 'page.sale-management.title' | translate }}</p>
      <p card-subHeader>{{ 'page.sale-management.description' | translate }}</p>
      <form [formGroup]="form" card-body class="flex flex-col gap-4">
        <card>
          <p card-header>{{ 'page.sale-management.details.title' | translate }}</p>
          <p card-subHeader>{{ 'page.sale-management.details.description' | translate }}</p>
          <div card-body class="flex flex-wrap gap-4">
            <!-- Customer -->
            <div>
              <p-floatlabel variant="on" class="w-60">
                <p-select dropdownIcon="pi pi-user" formControlName="customerId" id="customerId"
                          [options]="customersLabeled.value()" optionValue="value" optionLabel="label"
                          class="w-full"/>
                <label for="customerId">{{ 'page.sale-management.details.input.customer' | translate }}</label>
              </p-floatlabel>
              <form-input-error [control]="form.controls.customerId"/>
            </div>

            <!-- Salesman -->
            <div>
              <p-floatlabel variant="on" class="w-60">
                <p-select dropdownIcon="pi pi-shop" formControlName="salesmanId" id="salesmanId"
                          [options]="salesmenLabeled.value()" optionValue="value" optionLabel="label"
                          class="w-full"/>
                <label for="salesmanId">{{ 'page.sale-management.details.input.salesman' | translate }}</label>
              </p-floatlabel>
              <form-input-error [control]="form.controls.salesmanId"/>
            </div>

            <!-- Date -->
            <div>
              <p-floatlabel variant="on" class="w-60">
                <p-date-picker inputId="date" formControlName="date" iconDisplay="input" [showIcon]="true"
                               [showTime]="true" variant="filled" styleClass="w-full" appendTo="body"
                               inputStyleClass="p-2 rounded-md dark:bg-surface-950! bg-inherit!"/>
                <label for="date">{{ 'page.sale-management.details.input.date' | translate }}</label>
              </p-floatlabel>
              <form-input-error [control]="form.controls.date"/>
            </div>
          </div>
        </card>

        <card>
          <p card-header>{{ 'page.sale-management.receipt.title' | translate }}</p>
          <p card-subHeader>{{ 'page.sale-management.receipt.description' | translate }}</p>
          <div card-body class="flex flex-wrap gap-4">
            <!-- Receipt Type -->
            <div>
              <p-floatlabel variant="on" class="w-60">
                <p-select id="saleReceiptType" [(ngModel)]="selectedSaleReceiptType" dropdownIcon="pi pi-receipt"
                          [ngModelOptions]="{ standalone: true }" [options]="saleReceiptTypes" optionValue="value"
                          optionLabel="label" class="w-full"/>
                <label for="saleReceiptType">{{ 'page.sale-management.receipt.input.type' | translate }}</label>
              </p-floatlabel>
            </div>

            <!-- Receipt Info -->
            @if (selectedSaleReceiptType() === SaleReceiptType.Invoice) {
              <div>
                <p-float-label variant="on" class="w-60">
                  <p-iconfield>
                    <p-inputicon class="pi pi-hashtag"/>
                    <input formControlName="invoiceNo" pInputText type="text" id="invoiceNo" class="w-full"/>
                  </p-iconfield>
                  <label for="invoiceNo">{{ 'page.sale-management.receipt.input.invoice-no' | translate }}</label>
                </p-float-label>
                <form-input-error [control]="form.controls.invoiceNo"/>
              </div>
            } @else {
              <ng-container formGroupName="cashRegister">
                <div>
                  <p-float-label variant="on" class="w-60">
                    <p-iconfield>
                      <p-inputicon class="pi pi-hashtag"/>
                      <input required formControlName="cashRegisterNo" pInputText type="text" id="cashRegisterNo"
                             class="w-full"/>
                    </p-iconfield>
                    <label for="cashRegisterNo">{{ 'page.sale-management.receipt.input.cash-register-no' | translate }}</label>
                  </p-float-label>
                </div>
                <div>
                  <p-float-label variant="on" class="w-60">
                    <p-iconfield>
                      <p-inputicon class="pi pi-hashtag"/>
                      <input required formControlName="receiptNo" pInputText type="text" id="receiptNo" class="w-full"/>
                    </p-iconfield>
                    <label for="receiptNo">{{ 'page.sale-management.receipt.input.receipt-no' | translate }}</label>
                  </p-float-label>
                </div>
              </ng-container>
            }
          </div>
        </card>

        <!-- Sold Goods -->
        <card>
          <p card-header>{{ 'page.sale-management.sold-goods.title' | translate }}</p>
          <p card-subHeader>{{ 'page.sale-management.sold-goods.description' | translate }}</p>
          <div card-body formArrayName="soldGoods" class="flex flex-col gap-8">
            @for (soldGood of form.controls.soldGoods.controls; track $index; let i = $index) {
              <div [formGroupName]="i" class="flex flex-wrap gap-4">
                <!-- Description -->
                <div>
                  <p-float-label variant="on" class="w-60">
                    <p-iconfield>
                      <p-inputicon class="pi pi-book"/>
                      <input id="description" formControlName="description" pInputText type="text" class="w-full"/>
                    </p-iconfield>
                    <label for="description">{{ 'page.sale-management.sold-goods.input.description' | translate }}</label>
                  </p-float-label>
                  <form-input-error [control]="soldGood.controls.description"/>
                </div>

                <!-- Quantity -->
                <div>
                  <p-float-label variant="on" class="w-60">
                    <p-iconfield>
                      <p-inputicon class="pi pi-chart-line"/>
                      <input id="quantity" formControlName="quantity" pInputText type="number" class="w-full"/>
                    </p-iconfield>
                    <label for="quantity">{{ 'page.sale-management.sold-goods.input.quantity' | translate }}</label>
                  </p-float-label>
                  <form-input-error [control]="soldGood.controls.quantity"/>
                </div>

                <!-- Unit Price -->
                <div>
                  <p-float-label variant="on" class="w-60">
                    <p-iconfield>
                      <p-inputicon class="pi pi-euro"/>
                      <p-input-number inputId="unitPrice" formControlName="unitPrice" currency="EUR" mode="currency" [min]="0"
                                      [showButtons]="true" [step]="0.05" class="w-full" inputStyleClass="pl-10! w-60!"/>
                    </p-iconfield>
                    <label for="unitPrice">{{ 'page.sale-management.sold-goods.input.unit-price' | translate }}</label>
                  </p-float-label>
                  <form-input-error [control]="soldGood.controls.unitPrice"/>
                </div>

                <!-- Measure Type -->
                <div>
                  <p-float-label variant="on" class="w-60">
                    <p-select dropdownIcon="pi pi-objects-column" class="w-full" formControlName="unitOfMeasureType"
                              optionValue="value" optionLabel="label" [options]="measurementTypes"
                              (onChange)="clearMeasurement(i, $event.value)"/>
                    <label for="unitOfMeasureType">{{ 'page.sale-management.sold-goods.input.measure-type' | translate }}</label>
                  </p-float-label>
                  <form-input-error [control]="soldGood.controls.unitOfMeasureType"/>
                </div>

                <!-- Measure Unit -->
                <div>
                  <p-float-label variant="on" class="w-60">
                    @if (getMeasurementUnit(i) == UnitOfMeasureType.UnitOfMeasureOther) {
                      <p-iconfield>
                        <p-inputicon class="pi pi-objects-column"/>
                        <input id="unitOfMeasure" formControlName="unitOfMeasure" pInputText type="text"
                               class="w-full"/>
                      </p-iconfield>
                    } @else {
                      <p-select formControlName="unitOfMeasure" [options]="measurementCodeUnits" optionValue="code"
                                optionLabel="label" dropdownIcon="pi pi-objects-column" class="w-full" appendTo="body"/>
                    }
                    <label for="unitOfMeasure">{{ 'page.sale-management.sold-goods.input.measure-unit' | translate }}</label>
                  </p-float-label>
                  <form-input-error [control]="soldGood.controls.unitOfMeasure"/>
                </div>

                <!-- VAT Rate -->
                <div>
                  <p-float-label variant="on" class="w-60">
                    <p-iconfield>
                      <p-inputicon class="pi pi-percentage"/>
                      <input id="vatRate" formControlName="vatRate" pInputText type="number" [min]="0" [max]="100"
                             [step]="1"
                             class="w-full"/>
                    </p-iconfield>
                    <label for="vatRate">{{ 'page.sale-management.sold-goods.input.vat-rate' | translate }}</label>
                  </p-float-label>
                  <form-input-error [control]="soldGood.controls.vatRate"/>
                </div>

                <p-button [title]="'page.sale-management.sold-goods.button.remove' | translate" icon="pi pi-trash" variant="text"
                          class="self-start" (onClick)="removeSoldGood(i)"/>
              </div>
            }

            <!-- Add Sold Good -->
            <p-button [title]="'page.sale-management.sold-goods.button.add' | translate" size="small"
                      [label]="'page.sale-management.sold-goods.button.add' | translate" (onClick)="addSoldGood()"/>
          </div>
        </card>
        <messages-showcase [messages]="messages()"/>
        <p-button [title]="'page.sale-management.button.submit' | translate" size="small"
                  [label]="('page.sale-management.button.' + (!saleId() ? 'create' : 'save')) | translate"
                  [disabled]="!form.valid || !form.dirty" (onClick)="save()" type="submit"/>
      </form>
    </card>
  }
</div>
