<div class="w-full h-full p-4">
  <!-- No Reports -->
  @if (!reports || reports.reports.length === 0) {
    <card>
      <p card-header>No reports available</p>
      <p card-subHeader>Unfortunately, there are no reports available for the provided report template.</p>
    </card>
  } @else {
    <div *ngFor="let report of reports.reports; let i = index; let count = count" class="flex flex-col gap-4">
      <div class="flex flex-row justify-between items-center" [ngClass]="{'mt-16': i > 0}">
        <div class="space-x-2">
          <p-button title="Export" size="small" label="Export PDF" icon="pi pi-file-export"
                    (onClick)="export(i, 'pdf')"/>
          <p-button title="Export" size="small" label="Export CSV" icon="pi pi-file-export"
                    (onClick)="export(i, 'csv')"/>
        </div>
        <p class="self-end font-semibold">{{ i + 1 }} / {{ count }}</p>
      </div>

      <div #reportContainer class="flex flex-col gap-4">
        <!-- Info -->
        @if (report.info.fields.length) {
          <card>
            <p card-header>Report Info</p>
            <p card-subHeader>This section contains the following report's metadata.</p>
            <div card-body class="flex flex-row gap-8 w-fit p-4 dark:text-primary-50 text-primary-950/70">
              <div class="flex flex-col gap-4 items-start w-fit">
                <p *ngFor="let field of report.info.fields" class="font-semibold min-w-max">
                  {{ field.name }}
                </p>
              </div>
              <div class="flex flex-col gap-4 items-start w-fit">
                <data-type-entry-field-display *ngFor="let field of report.info.fields" [value]="field.value"
                                               [type]="field.type" [instanceId]="instanceIdAsNumber()"/>
              </div>
            </div>
          </card>
        }

        <!-- Entries -->
        @if (report.entries.length) {
          <card>
            <p card-header>Report Entries</p>
            <p card-subHeader>This section contains report's entries. These entries can be exported into .CSV file if
              needed.</p>
            <p-table card-body [value]="report.entries" class="w-fit">
              <ng-template #header>
                <tr>
                  <th *ngFor="let field of report.header">{{ field }}</th>
                </tr>
              </ng-template>
              <ng-template #body let-entry>
                <tr>
                  <td *ngFor="let field of entry.fields">
                    <data-type-entry-field-display [value]="field.value" [type]="field.type"
                                                   [instanceId]="instanceIdAsNumber()"/>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </card>
        } @else {
          <!-- No Entries -->
          <card>
            <p card-header>No Entries</p>
            <p card-subHeader>There are no entries within this report.</p>
          </card>
        }
      </div>
    </div>
  }
</div>
