<confirmation key="session-revokation" header="Are you sure about revoking this session?"/>
<p-toast key="session-revokation"/>
<card>
  <p card-header>Sessions</p>
  <div card-subHeader class="flex flex-col">
    <p>These are your sessions (times and devices you logged in with).</p>
    <p>If you want to revoke a session, click on the revoke button. Current session cannot be revoked.</p>
  </div>
  <p-table card-body paginatorDropdownAppendTo="body" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]"
           [value]="sessions.value() || []" sortMode="multiple">
    <ng-template #header>
      <tr>
        <th pSortableColumn="agent">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-0.5">
              Agent
              <p-sortIcon field="agent"/>
            </div>
            <p-columnFilter type="text" field="agent" display="menu"/>
          </div>
        </th>
        <th pSortableColumn="createdAt">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-0.5">
              Created At
              <p-sortIcon field="createdAt"/>
            </div>
            <p-columnFilter type="text" field="createdAt" display="menu"/>
          </div>
        </th>
        <th>Active Time</th>
        <th pSortableColumn="ipAddress">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-0.5">
              IP Address
              <p-sortIcon field="ipAddress"/>
            </div>
            <p-columnFilter type="text" field="ipAddress" display="menu"/>
          </div>
        </th>
        <th pSortableColumn="location">
          <div class="flex items-center justify-between">
            <div class="flex items-center gap-0.5">
              Location
              <p-sortIcon field="location"/>
            </div>
            <p-columnFilter type="text" field="location" display="menu"/>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-session>
      <tr>
        <td class="max-w-64">{{ session.agent }}</td>
        <td>{{ session.createdAt | date: 'medium' }}</td>
        <td>{{ getActiveTime(session) }}</td>
        <td>{{ session.ipAddress }}</td>
        <td>{{ session.location }}</td>
        <td>
          <div class="flex items-center">
            <p-button title="Revoke" [disabled]="session.id === currentSessionId.value()" icon="pi pi-ban"
                      type="button" variant="text" (onClick)="revoke(session)"/>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</card>
