<div class="h-full w-full relative container mx-auto flex flex-col mb-8">
  <report-template-page-header-section [canGoBack]="true"/>
  @if (template.isLoading()) {
    <loading-spinner/>
  } @else if (!template.value()) {
    <failed-to-load-please-reload/>
  } @else {
    @let template = this.template.value()!;
    <card>
      <p card-header>{{ template.name }}</p>
      <p card-subHeader>Preview of this unique report template.</p>
      <div card-body class="flex flex-col gap-4">
        <card>
          <p card-header>Details</p>
          <p card-subHeader>Details of this specific report template.</p>
          <div card-body class="flex flex-col">
            <div class="flex flex-row gap-2">
              <p class="font-semibold">ID</p>
              <p>{{ template.id }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Name</p>
              <p>{{ template.name }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Data Type</p>
              <p>{{ getDataTypeName(template) | async }}</p>
            </div>
            <div class="flex flex-row gap-2">
              <p class="font-semibold">Included Fields</p>
              <p>{{ template.fields.length }} field(s)</p>
            </div>
          </div>
        </card>
        <card>
          <p card-header>Fields</p>
          <p card-subHeader>Fields of this specific report template.</p>
          <div card-body class="flex flex-wrap gap-4">
            @for (field of template.fields; track field.id) {
              <badge-contrasted [value]="field.name"/>
            }
          </div>
        </card>
      </div>
    </card>
  }
</div>
