#profile-dropdown {
  .p-menubar {
    display: flex;
    align-items: center;
    background: var(--p-menubar-background);
    color: var(--p-menubar-color);
    border: unset;
    border-radius: unset;
    padding: unset;
    gap: unset;
  }
}
