# Client
CLIENT__PORT="4200"

# Server API
ASPNET__SERVER__API="https://localhost:5000/api/v1"

# SSL
SSL__ENABLED="true"
SSL__KEY="/certs/server.key"
SSL__CERTIFICATE="/certs/server.crt"

# Web Server API
WEB__SERVER__PORT="4200"
WEB__SERVER__API="https://localhost:3000/api/v1"
WEB__SERVER__CORS_ORIGINS="*"